[2018-06-23 07:04] torosent opened #2 "Add Anonymizer options: Masking"
Character: The character to use to mask each character of a sensitive value such an * or #

NumberOfCharsToMask: The number of characters to mask. Null to mask all matching characters

CharsToIgnore: Array of one or more characters to skip when masking values.

[2018-06-23 07:07] torosent opened #3 "Add Anonymizer options: Date obfuscation"
Randomly shift dates and times

[2018-06-23 07:11] torosent opened #4 "Travis CI"
Create a CI pipeline including unit-tests, integration tests and load tests.

The pipeline needs to include both Python and golang projects.

[2018-06-23 07:13] torosent opened #5 "OCR module - Inspect and anonymize sensitive content that exists within images."
The OCR module should accept images in base64 string.

1. Recognize and extract the text from the image.
2. Analyze the text extracted from the image.
3. Optional - Anonymize the text.
4. Optional - Integrate with the Storage scanner module.

Consider using:
[gosseract](https://github.com/otiai10/gosseract)

[2018-06-23 07:20] torosent opened #6 "Storage scanner module - Inspect and anonymize sensitive content that exists within files in storage accounts"
This module can scan various cloud provider storage accounts.

Features:

1.  Create a Kubernetes [Job](https://kubernetes.io/docs/concepts/workloads/controllers/jobs-run-to-completion) definition. Optional [Cron Job](https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/)

2. Scan files in storage accounts.
3. Analyze each file content.
4. Optional - Anonymize text.
5. Save results

[2018-06-23 07:46] torosent opened #7 "Create a unified logger sink"
Currently, we are using [zap](https://github.com/uber-go/zap) as a logger for the projects in golang and the Python logging module for the Python projects.

We need to be able to transform our logs into a predefined  format regardless of the language and to send the logs to log analytics platforms such as [Application Insights](https://azure.microsoft.com/en-us/services/application-insights/)

[2018-06-23 07:57] torosent opened #8 "Storage scanner module - Analyze and anonymize sensitive content that exists within files in storage accounts"
This module can scan various cloud provider storage accounts.

Features:

1.  Create a Kubernetes [Job](https://kubernetes.io/docs/concepts/workloads/controllers/jobs-run-to-completion) definition. Optional [Cron Job](https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/)

2. Scan files in storage accounts.
3. Analyze each file content.
4. Optional - Anonymize text.
5. Save results

[2018-06-23 07:58] #6 closed

[2018-06-23 07:58] torosent opened #9 "OCR module - Analyzer and anonymize sensitive content that exists within images."
The OCR module should accept images in base64 string.

1. Recognize and extract the text from the image.
2. Analyze the text extracted from the image.
3. Optional - Anonymize the text.
4. Optional - Integrate with the Storage scanner module.

Consider using:
[gosseract](https://github.com/otiai10/gosseract)

[2018-06-23 07:59] #5 closed

[2018-06-23 08:43] torosent opened #10 "Automated Documentation"
Create automated documentation for the REST API using Swagger and GRPC generators

[2018-06-23 09:57] torosent opened #12 "Testing"
Expand modules testing with fuzzing and various examples from enron and wikleaks data

[2018-07-02 05:17] torosent opened #14 "Create on the fly option API (Use without template)"

[2018-07-02 05:19] torosent opened #15 "Create an option to run without Service discovery"
Add option to use env vars instead of service discovery

[2018-07-04 08:37] torosent opened #17 "Database scanner module - Analyze and anonymize sensitive content that exists within database tables"
This module can scan various RDBMS databases such as MSSQL, MySQL and PostgreSQL

Features:

Create a Kubernetes Job definition. Optional Cron Job

Scan database records specific tables.

Analyze each cell content.

Optional - Anonymize text.

Save results in a DB or DW for further analysis and reports.

The module needs to support:

- ODBC connections
- Multiple tables
- Pause/resume actions.

[2018-07-22 15:43] #4 closed

[2018-07-22 15:44] torosent commented on #15
Removed consul. The dep is on env vars for now.

[2018-07-22 15:44] #15 closed

[2018-07-24 11:29] #2 closed

[2018-07-31 08:26] Ilanak opened #29 "Add retry mechanism to grpc protocol"
Need to add retry mechanism for transient failures.

[2018-08-02 08:01] limorl opened #34 "Analyzer - fails to handle entities that are part of a toke. Reproduce: analyze 'my phone:(425) 803 8080' where no space between ':' and the phone number"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other c

[2018-08-02 08:02] limorl opened #35 "Analyzer - improve performance of analyze_text due to context similarity"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other c

[2018-08-02 09:34] limorl opened #36 "Analyzer - extract language model related code to a LanguageModel class for extensibility and testability"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other c

[2018-08-02 13:10] #35 closed, assigned to limorl

[2018-08-05 13:53] #34 closed, assigned to limorl

[2018-08-05 13:56] limorl opened #40 "Analyzer - NER context is limited"
**Describe the bug**
NER (spacy) ability to increase score based on context is limited

**To Reproduce**
1. Go to 'analyzer/tests/tes_person.py
2. Run test with "Mr. Tailor" text
3. "Mr. Tailor" is not identified as a PERSON entity

**Expected behavior**
Should identify as person

[2018-08-05 15:27] limorl opened #42 "Analyzer - Spacey NER recognized cities and countries as locations, but not addresses"
**Describe the bug**
Only cities and countries are recognized as locations when using spacy NER

**To Reproduce**
Steps to reproduce the behavior:
1. analyze text of '5507 Ringgold Road, Chattanooga, TN 37412'
2. 5507 is recognized as DATE_TIME, the address is not reconized and Chattanooga is recognized . as location. TN is not recognized as a state,

[2018-08-09 11:58] torosent opened #47 "Multiple false positives for credit card number"
**Describe the bug**
Multiple false positives for credit card number.  We should consider dismiss other results if checksum passes.

**To Reproduce**
analyze "My credit card number is 6011577631711174"
analyze "My credit card number is 6011-5776-3171-1174"

**Expected behavior**
credit card with score 1.0

**Screenshot 1**
![image](https://user-images.githubusercontent.com/17064840/43897328-49507a

[2018-08-09 12:56] torosent opened #49 "Improve analyzer performance."
Our current implementation uses Python regex library and spacy word similarity.
We need to check performance and integration with re2 and possibly remove the word similarity functionality.
A good response time for our demo text file will be 200 ms per analyze request with all the field types enabled.

[2018-08-12 16:31] torosent opened #52 "Performance: Create template caching mechanism"
Create an in-memory template caching mechanism to improve performance and reduce I/O to disk and k8s secrets.

[2018-08-15 10:24] #47 closed, assigned to limorl

[2018-09-06 12:04] torosent opened #61 "Support swagger and openapi"
Presidio API should support Swagger and OpenAPI.
We should replace gin with go-restful http server.

[2018-09-25 05:50] torosent opened #64 "Migrate to Azure Pipelines from TravisCI"

[2018-10-03 15:41] torosent opened #66 "Analyzer regex optimization and performance"
In order to match re2 [supported syntax](https://github.com/google/re2/wiki/Syntax), we need to modify the regex's to the following values :
**CREDIT_CARD:** `\b((4\d{3})|(5[0-5]\d{2})|(6\d{3})|(1\d{3})|(3\d{3}))[- ]?(\d{3,4})[- ]?(\d{3,4})[- ]?(\d{3,5})\b` (Also remove the diners since this covers it.

**DOMAIN:** `\b(((([a-zA-Z0-9])|([a-zA-Z0-9][a-zA-Z0-9\-]{0,86}[a-zA-Z0-9]))\.(([a-zA-Z0-9])|([

[2018-10-12 17:23] Ilanak opened #70 "Analyzer - Add analyzer support for JSON files"
Currently the analyzer is not trained to analyze json files.
Therefor when analyzing these files the fields are detected wrongly:
Examples:

1.       {
        "text": "uuid:26c446d2-65a9-4eaa-9a70-53da2aded653\"}},{\"url\":\"http://synthetichealth.github.io",
        "field": {
            "name": "PERSON"
        },
        "probability": 0.85,
        "location": {
            "start": 1920,

[2018-10-12 17:31] Ilanak opened #71 "Analyzer - detects part of a guid as phone number"
Analyzer detected part of this guid as phone number:
110bcd25-a55d-453a-8046-1297901ea002

    {
        "text": "046-1297901",
        "field": {
            "name": "PHONE_NUMBER"
        },
        "probability": 0.5,
        "location": {
            "start": 52,
            "end": 63,
            "length": 11
        }
    },

Json file attached
[test.txt](https://github.com/Microsoft/presidi

[2018-10-12 17:40] Ilanak opened #72 "Presidio demo - markdown and add hover tooltip for the detected data in the anonymized text box."
Suggestion:

Markdown and add hover on the detected words to present their score and the field type.
![image](https://user-images.githubusercontent.com/13463870/46884893-2d040380-ce0b-11e8-9847-ae3667afd0eb.png)

[2018-12-18 12:03] omri374 opened #79 "Presidio demo - Anonymize text as default option"
**Describe the bug**
The demo currently starts when all detected fields are not anonymized. The user doesn't see any of presidio's functionality unless he or she changes the action from None to something else.

**To Reproduce**
Start the demo

**Expected behavior**
Processed text should have detected fields anonymized instead of ignored.

[2018-12-18 15:30] torosent commented on #79
@omri374  Fixed with Replace option.

Thank you @Ilanak

[2018-12-18 15:30] #79 closed

[2018-12-24 15:58] torosent commented on #64
Done #76

[2018-12-24 15:58] #64 closed

[2018-12-27 09:07] #52 closed

[2019-02-03 09:30] #36 closed, assigned to nobody

[2019-02-03 09:32] omri374 commented on #42
Enhancement- add new address recognizer

[2019-04-29 07:47] teo-chenglim opened #123 "How to create a project in presidio?"
**Describe the bug**
How to create a project in presidio? Trying hard to follow the tutorial
https://github.com/Microsoft/presidio/blob/master/docs/tutorial_service.md

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
Before I can analyze a template.. I need to create a default project?
$ echo -n '{"text":"John Smith lives in New York. We met yesterday morning in Sea

[2019-04-29 08:01] omri374 commented on #123
Hi @teo-chenglim, thanks for your feedback.
There is no need to set up a presidio project. In the next release we are planning on refining the documentation to avoid confusion.

If you're setting up a new template, just put an arbitrary project name and make sure to have the same project name in your API requests. If you call the API directly, just specify an arbitrary project name.
I will keep th

[2019-04-29 08:09] teo-chenglim commented on #123
Hi,

thank you for the reply. Can you help me how to get this things work on my minikube? or docker?

[code]

[2019-04-29 08:16] teo-chenglim commented on #123
I have figure it out. Thank you for the tips tough.

[code]

[2019-04-29 08:21] #72 closed

[2019-04-29 08:22] omri374 commented on #72
Moving to backlog

[2019-04-29 08:23] omri374 commented on #70
Moving to internal backlog

[2019-04-29 08:23] #66 closed, assigned to nobody

[2019-04-29 08:23] omri374 commented on #61
Moving to internal backlog

[2019-04-29 08:23] #61 closed

[2019-04-29 08:24] omri374 commented on #49
Fixed on PR #114

[2019-04-29 08:24] #49 closed

[2019-04-29 08:25] #42 closed

[2019-04-29 08:26] omri374 commented on #40
Moving to internal backlog

[2019-04-29 08:26] #40 closed

[2019-04-29 08:34] omri374 commented on #17
Moving to internal backlog

[2019-04-29 08:34] #17 closed

[2019-04-29 08:37] teo-chenglim commented on #123
by the way curl version also works. But still need jq for the color and the correct json header..

[code]

[2019-04-29 10:55] omri374 commented on #123
Reopening - Project configuration is misleading

[2019-04-30 02:31] teo-chenglim opened #127 "Tutorial method 2 error: core dump and corrupted size vs. prev_size"
**Describe the bug**
https://microsoft.github.io/presidio/tutorial_framework.html

Try Method 2
Use the analyzer Python code by importing matcher.py from presidio-analyzer/analyzer

match = matcher.Matcher()
results = self.match.analyze_text(text, fields)

**To Reproduce**
1. Create "a.py" at sub folder "presidio-analyzer"
2. install dependencies
3. execute with python

[code]

**Expected behavior

[2019-04-30 02:38] teo-chenglim commented on #127
The code run prefect on docker container.. so it is my local installation problem.

[code]

[2019-04-30 02:38] #127 closed

[2019-04-30 02:43] teo-chenglim opened #128 "Tutorial on how to custom a new field_type"
**Describe the bug**
Please create an Tutorial on how to custom a new field_type

**To Reproduce**
N/A

**Expected behavior**
A good framework shall allow public to contribute

**Screenshots**
N/A

**Additional context**
Give me a head start, I may able to contribute.

[2019-04-30 09:00] omri374 commented on #128
Hi @teo-chenglim
On our next release there will be documentation + support for new field types. Release should take place in the next few days.

[2019-04-30 18:14] eladiw commented on #128
https://github.com/Microsoft/presidio/pull/132

[2019-05-01 17:02] omri374 commented on #123
Documentation was updated. Closing issue

[2019-05-01 17:02] #123 closed

[2019-05-01 17:03] omri374 commented on #128
Documentation was updated. Closing issue

[2019-05-01 17:03] #128 closed

[2019-05-02 05:07] teo-chenglim opened #143 "feature request: analyser shall return the matching string and original text"
**Describe the bug**
from
https://github.com/Microsoft/presidio/blob/master/docs/tutorial_service.md
Sample 4: Custom anonymization

*** Currently the result return is
{
    "field": {
      "name": "US_DRIVER_LICENSE"
    },
    "score": 0.65,
    "location": {
      "start": 176,
      "end": 184,
      "length": 8
    }
  }

*** it would be good if you can return so that it is easier to debug

[2019-05-02 05:13] teo-chenglim commented on #71
One possible solution is to filter probability that higher than 0.6?

[2019-05-02 06:21] omri374 commented on #143
Hi @teo-chenglim,
This is definitely doable. The reason why we didn't include it in the first place, is because in some cases the next part in the pipeline is supposed to be 'PII free'. The matched text is the PII entity. However we'll give it some thought and update in case this gets implemented.

Is taking the original text from the request and extracting the matched substring using start and en

[2019-05-02 06:23] omri374 commented on #71
Yes. some regexes have many false positives due to the simplicity of the pattern. We try to give lower confidence scores in these cases.

[2019-05-02 06:42] teo-chenglim commented on #143
Like your demo here https://presidio-demo.westeurope.cloudapp.azure.com/

Is taking the original text from the request and extracting the matched substring using start and end indices an option? Yes. However return original string is also good for debugging propose. Could be optional and hidden, but good to have.

When we have more than 1 entity, using start and end replace the string the position

[2019-05-15 08:59] teochenglim opened #158 "Documentation request: Sink and Scanner Service"
**Describe the bug**
Is the Sink Service and Scanner Service available. If so, can you create documentation to start? Thanks.

**To Reproduce**
N/A

**Expected behavior**
N/A

**Screenshots**
N/A

**Additional context**
N/A

[2019-05-15 09:54] teochenglim commented on #158
From: https://github.com/microsoft/presidio/blob/master/docs/tutorial_scheduler.md

[code]

[2019-05-30 12:51] omri374 commented on #158
Hi @teochenglim,
Thanks for raising this issue. We will look into it and provide resolution within the upcoming weeks.

[2019-06-07 03:31] rahulraina7 opened #183 "Build takes a lot of time and eventually crashes"
**Describe the bug**
Following the instructions to build docker images. My build process is stuck at `pipenv sync` and eventually crashes

**To Reproduce**
Steps to reproduce the behavior:
1. RUN ` make DOCKER_REGISTRY=${DOCKER_REGISTRY} PRESIDIO_LABEL=${PRESIDIO_LABEL} docker-build-deps`

Fails while pipenv sync. Below is the log:

[code]
This is after about 2 hours.

**Expected behavior**
Build

[2019-06-09 16:10] omri374 commented on #183
Hi @rahulraina7, Thanks for your feedback. We're looking into your feedback and making builds faster in general, and will keep you updated.

[2019-06-09 16:12] omri374 commented on #183
@rahulraina7 Which environment are you trying to build Presidio on?

[2019-06-09 16:15] omri374 commented on #71
Closing for now as we have more detailed measures on false predictions between classes.

[2019-06-09 16:15] #71 closed

[2019-06-09 19:25] eladiw commented on #183
Hi @rahulraina7
Thanks for your feedback. exit code 137 is Out of memory.
Try to allocate more memory and try again

Regarding the build time, we will try to improve this in the near future.

[2019-06-10 11:30] omri374 commented on #183
Reopening as we are looking into providing a simpler installation experience either by decreasing build time or by leveraging prebuilt images.

[2019-06-14 07:59] Huang-YiYi opened #186 "While running analyser engine, the program will crash."
**Describe the bug**
https://github.com/microsoft/presidio/blob/master/docs/tutorial_analyzer.md

Tested on the analyzer python code below, but the program crashed and came out with a few errors.

<img width="914" alt="Screenshot 2019-06-14 at 3 54 51 PM" src="https://user-images.githubusercontent.com/50318926/59493004-cc0e5d00-8ebc-11e9-9614-e4b3d7bff86a.png">

These are the errors.

![error2](ht

[2019-06-15 19:11] omri374 commented on #186
Hi,
Thanks for letting us know. We'll look into it and return an answer.

Omri

[2019-06-16 05:51] omri374 commented on #186
Hi @Huang-YiYi,
Could you please provide some more information about the way you ran this?
Did you clone the repo and run this test? Have you installed it using pipenv? Are the unit tests passing?

[2019-06-18 06:51] Huang-YiYi commented on #186
Hi,

Q. Could you please provide some more information about the way you ran this?
We attached a screenshot of the steps of how we run it and sample python code.

Steps of running Presidio
![Screenshot from 2019-06-18 14-27-34](https://user-images.githubusercontent.com/50318926/59658952-a85a5800-91d7-11e9-869e-90058036ebc7.png)

Sample Python code
![Screenshot from 2019-06-18 14-36-04](https://use

[2019-06-20 03:28] Huang-YiYi commented on #186
Hi,

We had managed to solve the problem on our side.

Thanks for your help.

YiYi.

[2019-06-24 06:17] LHAmaris opened #187 "create a recognizer"
This closes #187

[2019-06-24 07:19] Huang-YiYi commented on #186
Hi,

I had redone everything, followed the steps again and it works.

Thank you.

YiYi.

[2019-06-24 07:19] #186 closed

[2019-06-24 08:29] #187 closed

[2019-07-01 13:26] omri374 commented on #143
Small update: We're considering an implementation of this enhancement, but it is not planned to be actively worked on during the following 4 weeks.

[2019-07-17 12:39] CodeRunRepeat opened #191 "Wrong results due to scoring"
This bug talks about an issue where a string is considered by two different recognizers to be a PII entity.
Its not bad as compleetly missing it however there are scenario (like the one described below) that the wrong entity type 'wins' due to incorrect scoring.

consider the following request to analyze:
[code]

The result we get for 078051120 is DATE_TIME with score 0.85
if we remove DATE_TIME f

[2019-07-17 12:41] CodeRunRepeat opened #192 "Current make file throws errors if container registry is undefined (first build only)"

[2019-07-17 12:44] CodeRunRepeat opened #193 "Analyzer doesn't return start values when the start is at 0"
Send a request with an entity on as the first token. Response object doesn't include a start value
For example:
[code]
Response:

[code]

[2019-07-17 12:44] CodeRunRepeat opened #194 "Add readiness probe to analyzer"
When a new pod is started, it could get a grpc request even though it hadn't finished loading.
Requests sent to the pod during this time would fail.

Implement readiness into pods in K8S

[2019-07-17 12:46] CodeRunRepeat opened #195 "When request has both template and a template ID, the template is ignored"
Set template:
[code]

Call analyzer:
[code]

response is:

    {
        "field": {
            "name": "PERSON"
        },
        "location": {
            "end": 10,
            "length": 10
        },
        "score": 0.85
    }
]

should output an error message or be documented

[2019-07-17 12:46] CodeRunRepeat opened #196 "Language field of template-entity is ignored when unknown or empty"
Set template:
[code]

Call analyzer:
[code]

result is:

[code]

should be empty.

Same applies for empty language code.

[2019-07-17 12:47] CodeRunRepeat opened #197 "IBAN/Location recogniser not working as expected"
from the demo website:
 IBAN: AT611904300234573201   ===>  <LOCATION>: AT611904300234573201

[2019-07-17 12:48] CodeRunRepeat opened #198 "Analyser memory leak"
Run presidio under persistent load for a long time.
notice memory in analyser increases over time, eventually the pod will restart.

ruled out recognizers, context and other factors by marking out all code in analyzer's main methods (Apply and analyze) except for nlp_engine.process_text() and memory still increases.

this is aligned with the following github issues on spacy memory increase over ti

[2019-07-17 12:57] omri374 commented on #192
The make file works even without a defined container registry. During the build process, and error will be written but the build would succeed and the error could be ignored.

[2019-07-17 12:59] omri374 commented on #193
This is due to a protobuf behavior. Workaround is to check if `start` exists in `location` and if not, assume it equals 0

[2019-08-01 10:09] CodeRunRepeat commented on #143
Change in the project's backlog. Not planned for implementation within the next 2 months.

[2019-08-06 17:51] honnibal commented on #198
If you get really stuck, one solution would be to just reload the `nlp` object periodically.

How much is the memory increase, over how much text?

[2019-08-28 07:06] SandeepBhutani opened #203 "How is it different from NER?"
This is not a bug but a question. The solution looks promising. But wondering how is this different from an NER system (or LUIS entity recognition) ? I can see this spacy NER being used. Is it an extension to NER system, exposed as a service or there is some other intelligence added to the system.

[2019-08-28 09:41] omri374 commented on #203
This is an entire solution for PII anonymization, not just a model. You can deploy it to your production environment without additional operationalization needed.

We do use Spacy NER, but only for certain PII entities. NER is not the right tool for some entities, like credit card numbers (that require checksum) and others. Presidio lets you implement your own recognizers using NER, regex, black-l

[2019-08-29 13:56] SandeepBhutani commented on #203
Thanks

[2019-08-29 13:56] #203 closed

[2019-09-01 07:56] eladiw opened #206 "Wrong HTTP status code returned on empty analyzer response"
**Describe the bug**
If the analyze result is empty, a 400 http status code is returned. should be 200

**To Reproduce**
Steps to reproduce the behavior:
1. have a running presidio instance
2. create a simple template
3. use this template with some super simple text like "hello"
4. you should receive the correct response with the wrong status code

**Expected behavior**
status code should be 200

[2019-09-01 08:00] omri374 commented on #206
see #189

[2019-09-02 19:21] #206 closed

[2019-09-04 11:26] afolarin opened #210 "Demo is broken"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
https://presidio-demo.westeurope.cloudapp.azure.com/  not working on demo text (tested on Chrome, Safari, Firefox)

**Expected behavior**
Should replace example PII

[2019-09-04 11:28] omri374 commented on #210
Hi afolarin, thanks for your feedback. We are working on fixing it ASAP.

[2019-09-04 12:18] CodeRunRepeat opened #211 "Add SECURITY.MD"
Add the new SECURITY.MD file for repos under the Microsoft organization.

[2019-09-05 11:33] ahaeber opened #213 "presidio-ocr fails building if tesseract libs are missing"
**Describe the bug**
Building binaries (make build) fails if tesseract libs are not available.

**To Reproduce**
Steps to reproduce the behavior:
1. Build using makefile
[code]

2. See error

**Expected behavior**
1. State the dependency in the Development docs.
2. Explicitly add this dependency, if possible.

Not sure if (2) is doable, though. For Fedora 30 I fixed this by installing the `tessera

[2019-09-05 11:49] ahaeber commented on #213
Sorry, missed a line in the Development notes :-( (nr 4 at https://microsoft.github.io/presidio/development.html)

[2019-09-05 11:49] #213 closed

[2019-09-05 20:48] Guppster commented on #183
Please consider adding a note about the build time on the installation page.
I gave up after 30 minutes at the `pipenv sync` step before reading this issue

[2019-09-08 06:27] omri374 commented on #183
Thanks @Guppster. We're working on improving our build time.

[2019-09-09 06:06] SandeepBhutani commented on #210
Still not fixed?

[2019-09-09 06:49] omri374 commented on #210
Fixed on a different URL: https://presidio-demo-dev.azurewebsites.net/
We'll have the URL restored today.

[2019-09-09 07:01] omri374 commented on #210
Hi, the demo is fixed but with a different URL: https://presidio-demo-dev.azurewebsites.net/
We'll have the URL updated soon.

[2019-09-10 07:48] ghost opened #219 "How to install on simple unix box"
Hi,
This is a question. As per installation instructions it can be installed with either docker or with helm (reddis etc).
Can't we simply install presido on windows or unix box like pip or git clone?

[2019-09-10 08:21] #211 closed

[2019-09-10 11:05] omri374 commented on #198
Hi @honnibal, thanks for your comment!
We did a soak test on one Dv3 vm on Azure (https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sizes-general#dv3-series-1)
We ran the soak test for 12 hours, with a request with 100 words, ~40 times a second.

So in total we ingested 1.7 million requests = 172 million words. At that point the ram usage was at 6gb which was the maximum allocated fo

[2019-09-10 13:01] #210 closed

[2019-09-10 13:12] omri374 commented on #219
Hi @SandeepBhutani,

We are currently working on allowing users to pip install the presidio-analyzer module. In the meantime, you can create a wheel package from the analyzer code using this documentation (on the development branch):

https://github.com/microsoft/presidio/blob/development/docs/install.md#install-presidio-analyzer-as-a-python-package

[2019-09-17 20:06] Zambonilli opened #224 "404 on "Try Presidio on your own data" link in readme.md"
**Describe the bug**
The link to the demo website in the readme.md returns a 404. The link's URL is https://presidio-demo.azurewebsites.net/

**To Reproduce**
Steps to reproduce the behavior:
1. Go to readme.md in a browser
2. Click on 'Try Presidio on your own data"
3. See 404

**Expected behavior**
A HTTP 200

[2019-09-18 18:55] omri374 commented on #224
Hi @Zambonilli, thanks for raising this issue. The demo website is now fixed.

[2019-09-18 18:55] #224 closed

[2019-09-19 06:38] omri374 commented on #183
Some thoughts on long build times:
1. Pipenv takes a lot of time. We should do some research on whether there's an option of making Pipenv run faster.
2. Evaluate other alternatives such as [poetry](https://github.com/sdispater/poetry)
3. Provide pre built images for dependencies (python and go) as these take the longest to build, and most users don't need to rebuild them.

[2019-09-24 14:48] #195 closed

[2019-09-24 14:48] #192 closed

[2019-10-07 08:15] omri374 opened #227 "Enhacement: Add support to all languages supported by Spacy"
Spacy NER and lemmatizer supports multiple languages.
Allow A user to install Presidio with additional Spacy models.

See https://spacy.io/usage/models#languages

[2019-10-11 10:04] CodeRunRepeat opened #229 "Enhancement: Provide Open API definition"
An Open API definition for the REST API would be useful to developers.

[2019-10-28 00:58] bballamudi commented on #219
@omri374

I followed the instructions to installing the wheel package from the analyzer code and it is functioning just fine. However, the time to load this package is prohibitively long. Do you suspect something wrong in my installation of the setup?

[2019-10-28 08:54] omri374 commented on #219
Hi @bballamudi, could you please provide more details? We haven't encountered such issue. The only thing that might take some time is the loading (or downloading if missing) of the en_core_web_lg Spacy model.

[2019-11-07 14:40] omri374 opened #235 "fieldTypes API should returns all fields, including custom ones"
**Describe the bug**
Currently a call to the fieldTypes API returns the list of fields defined in the proto file. Since Presidio allows to extend this list by adding custom recognizers and field types, this API should return all field types (entity types) supported by a Presidio deployment

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new entity recognizer using the API
2. Call th

[2019-11-08 07:07] dante1119 opened #236 "Usage Documentation"
Is it possible to ask for a kind of quick start documentation to help the use of presidio from a User perspective?
What I mean is that I cannot find any API specification as well as an example on how to input a database source data to presidio analyzer/anonymizer.
May be it is a limit of me, but I believe it could help many people.
Thank you in advance

[2019-11-08 15:04] omri374 commented on #236
Hi @dante1119,
Which database are you looking into inputting as a data source?

In order to have Presidio run on a source database, the configuration of both the database and a scheduled job is needed.
This tutorial explains how to schedule jobs to run on a source database. If any additional information is needed, we'd be happy to help:

https://github.com/microsoft/presidio/blob/master/docs/tutor

[2019-11-12 18:54] LaraSchvartzman opened #237 "Syntax Errors using the analyzer as Python package"
Using the analyzer as a Python package I encountered a few errors, here I will describe how to reproduce them and how to (temporarily) fix them in order to get the next errors:
I first succesfully followed the instructions on the tutorial on how to install the presidio-analyzer as a Python package by creating a wheel file, after running into some of the issues I simply kept on manipulating the scr

[2019-11-12 19:12] omri374 commented on #237
Hi @LaraSchvartzman, thanks for reaching out!
Could you please provide some details on your environment? specifically, Python version and OS.
Thanks

[2019-11-13 05:27] omri374 commented on #237
At least for item (1), Please make sure you use Python > 3.5 as the `analysis_explanation: AnalysisExplanation` syntax was introduced in Python 3.5.

[2019-11-13 13:59] omri374 commented on #236
Related to #229

[2019-11-14 15:32] apresmoi opened #239 "Custom recognizers won't work"
Hello.

For some reason custom recognizers don't work on my current presidio instance.

I'm following the documentation:

I post into `api/v1/analyzer/recognizers/spaceship`
`
{
	"value": {
		"entity": "SPACESHIP",
		"language": "en",
		"patterns": [
			{
				"name": "spaceship regex",
				"regex": "\\W*(spaceship)\\W*",
				"score": 0.9
			}
		]
	}
}
`

And then I try to run the analyzer posting

[2019-11-14 20:52] omri374 commented on #239
Hello @apresmoi, could you please provide some more details on your deployment? Custom recognizers by API require a Kubernetes deployment with Redis (deployed together with Presidio)

cc @eladiw

[2019-11-15 19:24] LaraSchvartzman commented on #235
While using a Presidio Instance I found online, I get the same problem when trying to get all field types. I'm currently working with my own Presidio Instance installed via Docker with minimum requirements.
On the other hand, by following the guide for creation and usage of custom fields (https://microsoft.github.io/presidio/custom_fields.html where the example creates a rocket recognizer) my inst

[2019-11-17 06:51] omri374 commented on #235
Hi @LaraSchvartzman
Please see #239
In order to have custom recognizers added via API (as opposed to adding them as code when deploying presidio), you need the full deployment on Kubernetes with Redis. We use Redis to store all the new API based recognizers in a persistent way.
So there are two options:
1. Add your new recognizer as code (there are some examples on the documentation, kindly let us

[2019-11-18 17:47] SatyaBhagat commented on #236
Hi Omri,

I created the json file with all the required information and attributes, May I know how to execute the above json with the presidio-analyser.

Thank You

[2019-11-18 18:15] SatyaBhagat commented on #236
Hi Omri, @omri374

I created the json file with all the required information and attributes, May I know how to execute the above json with the presidio-analyser.

Thank You

[2019-11-19 19:43] LaraSchvartzman commented on #235
Hi @omri374, thank you so much for your help. I just consulted with my team and they told me we followed the first installation from the guide: https://github.com/microsoft/presidio/blob/master/docs/install.md
which uses Docker but still includes Redis.
We are now planning on trying the second version of the installation (installing it as a service), but is this necessary? Could the problem be sol

[2019-11-21 06:41] omri374 commented on #235
Hi Lara,
Installing it using docker would not have Redis included and therefore we would not have a persistent cache for custom recognizers. Installing it as a service with helm would solve this problem.
Another option to consider is to add these recognizers via code and not via API. You could look at some examples of predefined recognizers if you need a reference. For example: https://github.com/

[2019-11-24 09:44] omri374 commented on #237
Closing this for now. Feel free to reopen in case this issue arises.

[2019-11-24 09:44] #237 closed

[2019-12-01 07:44] balderman1 opened #241 "crypto_recognizer throws an exception"
When calling the engine analyze API  like

[code]

and the value of  'text_to_analyze' is

"/boardingPass/v1/devices/34e7b5e1a0aa1d6f3d862b52a289cdb7/registrations/pass.apoc.wallet/"

The exception below is thrown

` File "/home/folder_name/presidio_testing/my_venv/lib/python3.6/site-packages/analyzer/analyzer_engine.py", line 204, in analyze
    current_results = recognizer.analyze(text, entities

[2019-12-01 08:56] omri374 commented on #241
Hi @balderman,
Which regex engine are you using? pyre2 or regex?

[2019-12-01 09:06] balderman1 commented on #241
I am using the python builtin regex (not re2)

[2019-12-01 21:01] shayan90 opened #242 "Standalone Analyzer On Spark"
Hi,

Have you guys tried to run the analyzer as a spark job ? how would suggest handle loading the spacy model for each worker and also how to handle serialization?

would appreciate some suggestions around this, is there any plan to support this use case ?

 Thanks

[2019-12-02 18:15] LaraSchvartzman commented on #235
Hi @omri374 , we reinstalled it as a service and it worked! Thank you for all the help

[2019-12-02 21:42] omri374 commented on #242
Hi,
We haven't experienced with this, and I don't think Spacy can run on top of spark (although we haven't tested this).
Is deploying Presidio on K8S and calling it from a Spark pipeline an option?

[2019-12-02 21:42] omri374 commented on #235
Great!

[2019-12-03 08:14] omri374 commented on #241
We're looking into it.

[2019-12-04 21:54] SatyaBhagat opened #244 "Can it be used in ETL flow"
Hi,

We perform ETL operations to move data from blob storage into ADLS datalake and SQL Servers.
Can this software be used as a potential transformation tool in the ETL load process to identify and hash the PII data?

I followed the analyzer document and it gave some good results on when passed a text file in a standalone python executor. Do you have any documentation on how to start working with

[2019-12-09 08:56] balderman1 commented on #241
I tried to get into the code and see what caused the bug.
Here are my understandings:
PatternRecognizer comes with an 'abstract' method `def validate_result(self, pattern_text):`.
According to the method doc, this method is called after there was a match against the RegExp.
The implementation of CryptoRecognizer comes with an assumption that the matched string  contains only chars that are defined

[2019-12-09 09:21] balderman1 commented on #241
Below is a code that reproduce the issue.

The bottom line is that 0 is not included in digits58  but it is a part of the matched string

[code]

[2019-12-09 12:18] balderman1 commented on #241
My current (brutal..) workaround is

[code]

[2019-12-10 18:34] SatyaBhagat opened #247 "Make error during installation using docker"
During the installation with Docker, it is giving make error

make DOCKER_REGISTRY=${DOCKER_REGISTRY} PRESIDIO_LABEL=${PRESIDIO_LABEL} docker-build

make: *** [Makefile:181: go-test-style] Error 1
The command '/bin/sh -c make go-test' returned a non-zero code: 2
make: *** [docker-build-base] Error 2

It would be very helpful, if someone canhelp with the solution

Thank You

-----------------------

[2019-12-10 20:05] omri374 commented on #244
Hi SatyaBhagat. We're actually working on documentation. See #245

[2019-12-10 22:29] #247 closed

[2019-12-11 09:02] omri374 commented on #247
Hey @SatyaBhagat. Do you mind sharing what was the case and how was it resolved?

[2019-12-11 15:23] SatyaBhagat commented on #247
Hi Omri,

Sorry for the inconvenience.
I tried installation by cloning the master into a separate folder, it
worked.
I downloaded Presidio files from 2 sources, one is from (
https://github.com/microsoft/presidio) and I don't recall the other
source. The only difference I find between the two folders is git folder
naming convention.(.github and .git)
Please let me know if you need any other inform

[2019-12-11 20:33] SatyaBhagat commented on #244
Hi @omri374 ,

Can we expect some information regarding the Cron scheduled job output and handling zip files with presidio in the documentation?

[2019-12-12 07:23] omri374 commented on #244
I can't refer to zip files specifically, but the new documentation PR provides references to examples and methods for adding new sources and targets.

[2019-12-12 07:24] omri374 commented on #247
Thank you

[2019-12-12 17:52] SatyaBhagat commented on #244
Hi @omri374,

Thank you for the quick response.
1. What would be the size of Redis and what happens to the scanning process
if the Redis is  down?
2. How do we track already scanned files in the previous runs, how to
recognize the modified files from the last run to scan again?
3. What would be the approximate time to scan 100 TB of data?
4. Can we scan scan a datalake folder if we provide the end

[2019-12-17 11:59] omri374 commented on #244
Hi @SatyaBhagat ,
I will get back to you ASAP with answers. Sorry for the delay

[2019-12-17 12:00] omri374 commented on #239
Closing as more info from the issue opener was not received.

[2019-12-17 13:05] omri374 commented on #244
Hi @SatyaBhagat,
1. The redis cache is used for storing templates, recognizers added using the API and the such. Therefore it is lightweight and doesn't require special compute or storage requirements.
2. We currently don't support tracking previously scanned documents. We've added this to our backlog and we'll prioritize it.
3. We don't have specific performance tests on such dataset. Here are so

[2020-01-01 11:25] omri374 commented on #183
#252

[2020-01-01 11:25] #183 closed

[2020-01-01 11:26] omri374 commented on #158
See https://github.com/microsoft/presidio/blob/master/CONTRIBUTING.md#adding-new-connectors

[2020-01-01 11:30] omri374 commented on #241
If any of the recognizers fail for any reason and you don't need the PII entity supported by that recognizer, the right solution would be to call the analyzer with the set of entities you're interested in. The analyzer would not run a recognizer if the entity type it detects is not requested.
More specifically:
[code]

instead of
[code]

[2020-01-07 00:43] Cherchercher opened #254 "word boundaries"
I have a lot of customed PII that I want to add.
I am running into a lot of issue where numbers result in overlapping classification.

For example,
 1234567890 9844412312312323 at https://presidio-demo.azurewebsites.net results in <DATE_TIME>UMBER>.

I am very curious in learning about how this scenario occurs to best resolve the issue.

[2020-01-07 08:35] omri374 commented on #254
Hi @Cherchercher. Overlaps make sense as we are running multiple recognizers independently.

Some things to consider in this case:
1. Use a threshold to ignore identified PII with low score
2. Come up with a logic to handle these overlaps. For example, this code (on our research repo) handles overlaps in a naive way:
https://github.com/microsoft/presidio-research/blob/65f4239cd41360b362252fbd05572

[2020-01-08 02:07] teochenglim commented on #158
Many thanks! =)

[2020-01-08 14:32] LaraSchvartzman opened #255 "Using protocol buffers to add new parameters"
Hi! I'm using and editing the Presidio analyzer software as a python module to fit my requirements. One of the things I'd like to do is to add a parameter to the process, for example, passing the country to the AnalyzerEngine().analyze method (in addition to the existing parameters like text, language, entities, etc).
I managed to change the code for this purpose, adding a new parameter to the ana

[2020-01-08 15:34] omri374 commented on #255
Hi @LaraSchvartzman
On the Presidio-Genproto repo, you can find some documentation on how to manipulate the proto files and generate new ones:
https://github.com/microsoft/presidio-genproto#changing-presidios-api

You would have to copy the new pb2 files into the analyzer folder once you generated new ones.

[2020-01-08 15:58] LaraSchvartzman commented on #255
Thanks @omri374 !!! It's exactly what I needed.

[2020-01-08 18:55] #255 closed

[2020-01-13 08:44] #254 closed

[2020-01-13 08:44] #244 closed

[2020-01-13 13:38] navalev commented on #191
The api returns the score for each field. As DATE_TIME is a spacy field, it is not possible to change scoring.
A possible solution is for the user to filter out fields either in the request, or from the result.

[2020-01-13 13:38] #191 closed

[2020-01-14 13:05] #241 closed

[2020-01-14 13:50] CodeRunRepeat commented on #242
@shayan90 , were you able to consider @omri374 's suggestion?

[2020-01-15 12:31] navalev commented on #239
I assume the services were deployed using the build.sh script. The services in the script were not configured properly and the analyzer did not communicate with the recognizers store.
PR #260 is fixing the build script and all tests cases manined in this issue pass.

[2020-01-28 12:21] #239 closed

[2020-02-02 15:15] rabee333 opened #262 "Replace the usage of gometalinter (depricated) by golangci-lint"
Replace usage of [gometalinter (Depricated)](https://github.com/alecthomas/gometalinter) by [golangci-lint](https://github.com/golangci/golangci-lint)

**Additional context**
[gometalinter](https://github.com/alecthomas/gometalinter) is used in the CI build tests, and it is deprecated and archived since 2019-04-07.
There is a recommendation to switch to [golangci-lint](https://github.com/golangci/

[2020-02-03 10:24] yachtsman60 opened #263 "Build does not complete without errors and presidio-api url does not work"
When running the build file on an Oracle Linux VM the last 4 docker run commands fail to run as the set variables DOCKER_REGISTRY and PRESIDIO_LABEL are not found. Subsequently, entering the docker run commands manually starts the containers but the presidio-api url returns a 404 page not found error. Entering the container using 'docker exec -it presidio-api /bin/sh' and then try to run 'presidio

[2020-02-03 21:00] yachtsman60 commented on #263
Same behaviour in Ubuntu VM with the last 4 docker run commands failing to run as the set variables DOCKER_REGISTRY and PRESIDIO_LABEL not found.

[2020-02-04 09:32] omri374 commented on #263
thanks @yachtsman60. We'll look into this. It makes sense that the DOCKER_REGISTRY is not found if you're not using any registry. Are you getting an error that stops the process? The build would say that DOCKER_REGISTRY wasn't found in case a registry was not supplied, but it would run to completion afterwards.
See this line: https://github.com/microsoft/presidio/blob/c89bf3267073662922374675004fe

[2020-02-04 17:04] yachtsman60 commented on #263
@omri374 thanks for the reply. The build does run to completion with the errors provided and therefore does not start running the containers.
I think, 'export DOCKER_REGISTRY=presidio' is working, it is the use of () in build.sh around DOCKER_REGISTRY in the docker run commands that means it is not executing as expected.

[2020-02-06 07:38] omri374 commented on #263
Hi @yachtsman60. Sorry for the delay, it seems like an issue with different Linux distros. We're still looking into this.

[2020-02-06 07:43] balteravishay commented on #263
Hi @yachtsman60 thanks for this.
We are testing this issue. could you please verify that the containers are built in your local ubuntu VM and paste the output of docker image list?
Thanks!

[2020-02-06 18:01] omri374 commented on #263
yachtsman60 please reopen the issue if you encounter any issues

[2020-02-06 18:01] #263 closed

[2020-02-23 12:13] #242 closed

[2020-02-23 12:13] omri374 commented on #242
Closing for now. Feel free to reopen if you have additional questions/issues

[2020-02-23 12:14] omri374 commented on #198
Potentially fixed on spaCy's #4486: https://github.com/explosion/spaCy/pull/4486

[2020-02-23 12:14] #198 closed

[2020-02-23 12:15] #219 closed

[2020-02-23 12:16] omri374 commented on #229
PR: #261

[2020-02-24 15:02] navalev commented on #236
You can call the API from any source, can defintly be called as a step in ETL process.
If there are no further questions I will close this issue. We can re-open if needed.

[2020-02-24 15:02] #236 closed

[2020-03-02 18:26] jasonshortphd opened #265 "Instructions do not clean up everything created"
**Describe the bug**
Following setup instructions and then the delete portion does not clean up everything in the subscription.

NetworkWatcherRG is left in the subscription.

**To Reproduce**
1. Setup everything using the instructions
2. Follow Clean Up Your Environment

**Expected behavior**
Everything should be removed

**Additional context**
NetworkWatcherRG is the only thing left at the end.

[2020-03-03 08:01] navalev commented on #265
Hi @jasonshortphd
Thanks for raising this issue. We will look into it and provide resolution within the upcoming weeks.

[2020-03-03 11:22] DavidHernandez opened #267 "Links not working on documentation"
**Describe the bug**
There are a few links in the development documentation that are broken ( https://github.com/Microsoft/presidio/blob/master/docs/development.md )

**To Reproduce**
On https://github.com/Microsoft/presidio/blob/master/docs/development.md
- Link `Installing presidio-analyzer as a standalone Python package` links to https://github.com/microsoft/presidio/blob/omri374/new_dev_doc/do

[2020-03-03 14:39] omri374 commented on #267
Thanks @DavidHernandez
We'll fix this shortly

[2020-03-03 14:41] omri374 commented on #267
PR  #268

[2020-03-03 17:51] jasonshortphd commented on #265
Sorry I think I posted this on the wrong project!

[2020-03-03 17:51] #265 closed

[2020-03-03 20:30] #267 closed

[2020-03-06 12:09] gknor opened #272 "Failed to get recognizers hash"
Hi,
example of Python code from documentation doesn't work:
https://github.com/microsoft/presidio/blob/master/docs/deploy.md
[code]
It fails with the following error code:

`ERROR:root:Failed to get recognizers hash`

In my opinion it is due to NotImplementedError in [ApplyGetHash](https://github.com/microsoft/presidio/blob/master/presidio-analyzer/analyzer/recognizers_store_pb2_grpc.py#L88) funct

[2020-03-08 07:41] omri374 commented on #272
Hi @gknor,
When using presidio-analyzer as a Python package, it does not use the Recognizer Store which stores recognizers added by API. However this shouldn't raise an error so we're looking into it and will update shortly.

[2020-03-08 08:26] omri374 commented on #272
@gknor could you please verify that the process fails and not just writes an error message?
See this line (surrounded in try/except):
https://github.com/microsoft/presidio/blob/2d8c7d33df2f9eeccfa639198b00e272630eb0db/presidio-analyzer/analyzer/recognizer_registry/recognizers_store_api.py#L42

[2020-03-09 13:20] gknor commented on #272
Hi @omri374. You are right, it just writes error message. It confused me and I didn't try to check if the variable _response_ is being created. I'm sorry for the confusion. It's my mistake 😳

[2020-03-09 13:20] #272 closed

[2020-03-09 17:02] PrahathessRaghavan opened #274 "Create a library version of presidio analyzer that can be shipped"
Presidio as a library would be super helpful , running quick analyzer checks without a network call.

**Presidio Library:**

1. Very minimal compared to the service , just the analyzer, model and the recognizers.
2. Take in a text , a pattern library (the default ones will do ) and a confidence return true or false
3. Cross platform

[2020-03-09 17:14] ammills01 opened #275 "Questions on contributing vs customizing"
Team,

I'm working on a POC for near real-time redaction of a data pipeline. I intend to make some changes and would like your input on if I should just do those in a private repo or if they would be valuable to the project as a whole.

We're setting Presidio up as a service in k8s and I intend to connect the collector to a Kafka topic and sink the data into a different Kafka topic. Based on what

[2020-03-09 17:22] ammills01 commented on #274
You may want to check out the following links:

https://github.com/microsoft/presidio/blob/master/docs/deploy.md#install-presidio-analyzer-as-a-python-package

https://github.com/microsoft/presidio-research

[2020-03-09 20:21] omri374 commented on #274
Hi PrahathessRaghavan. We are actively working on providing the analyzer as a standalone Python package downloadable from PyPI. You can either create your own wheel using the link provided by ammills01 or wait for the PyPI instance to be ready.

[2020-03-09 20:33] omri374 commented on #275
Hi @ammills01,
Regarding Kafka, we'll take a look and get back to you.

Regarding DATE_TIME: If you don't wish to alter the `SpacyRecognizer` class, you can just change the entities this class returns, so that it would return all entities besides DATE_TIME. Then you could create a new `SpacyDateTimeRecognizer` which only handles date time. Because we're running the spaCy pipeline only once per req

[2020-03-09 20:58] omri374 commented on #272
@balteravishay worth changing log level if we run presidio-anayzer as a standalone Python package

[2020-03-09 21:11] ammills01 commented on #275
Thanks for the quick reply omri374. In a way, I hate 'chatting' with teams in GitHub but it seems to be the only way to do it for this project. Do you guys plan on making a Slack channel or anything like that for this project?

I was walking down the path of removing DATE_TIME from the SpacyRecognizer and building a separate one. I was concerned about it creating a ton more overhead, so thanks for

[2020-03-10 13:25] balteravishay commented on #275
Hi @ammills01, thanks again for your comments.
We don't currently have a slack channel, but you are more than welcome to reach us at presidio@microsoft.com to continue the discussion about contributions.

In the second comment, are the code changes you suggest for supporting the kafka scenario mentioned in the first comment? it's unclear what is your intention with stream scheduler.

Looking forwa

[2020-03-10 16:44] balteravishay opened #279 "IGNORE - TESTING BOTS"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other c

[2020-03-10 17:54] ammills01 commented on #275
@balteravishay my original comments/questions setup my intention, to have a long-running job that constantly reads from Kafka, does redaction, then drops the records into a Kafka sink. In an effort to achieve that, I worked through getting the stream-scheduler working first. Once I got it working I realized that it stops reading once it has consumed the queue, which is not how I need it to work. I

[2020-03-10 18:22] #279 closed

[2020-03-11 15:41] balteravishay opened #281 "IGNORE - TEST BOT"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other c

[2020-03-12 08:07] #281 closed

[2020-03-12 08:22] omri374 commented on #275
Hi @ammills01, we'd be happy for any contribution in this area. Feel free to suggest a PR.
By splitting up the docs, do you mean that we'll have one documentation for the scheduler, and an additional one for defining scanners and sinks?

[2020-03-16 14:57] ammills01 commented on #275
Hey @omri374, no, but it's ok. Now that I think more about it I think we can just have both a cron and stream example in the same doc. This thread can be closed. I appreciate the quick feedback.

[2020-03-16 14:57] #275 closed

[2020-03-17 11:43] omri374 opened #287 "Presidio analyzer context only detects lemmatized terms and not phrases"
**Describe the bug**
When using Presidio's context detection, it only leverages lemmatized words as context. Adding support for phrases ("account number", "phone number") and not only lemmatized unigrams ("account","bank") could improve detection accuracy.

**Expected behavior**
Presidio recognizers could declare phrases as context terms, and these would be used during analysis.

[2020-03-18 14:29] rabee333 opened #289 "Add /swagger endpoint to get Swagger file describing the API"
**Describe the bug**
Add /swagger endpoint to get Swagger file describing the API

[2020-03-23 20:58] sgsmittal226 opened #291 "US Driving license recognizer doesn't work correctly"
US Driving license number has different format for each state. but current recognizer match any random string as driving license as well

[2020-03-24 19:15] omri374 commented on #291
Hi sgsmittal226, thanks for your input.

Many entities have very simple patterns (like 7 digits) and it's difficult to differentiate positive from false positives. This is why many recognizers would return results with a very low score (0.01). Additional context words (like driver license) would increase the score.
My suggestion is to put a threshold on the output of the analyzer, in order to avoi

[2020-03-24 19:15] #291 closed

[2020-03-26 16:36] ammills01 opened #294 "Inconsistent anonymize results between Stream job and API calls"
**Describe the bug**
When text is passed in that has no matching items, the API calls will return your original text. However, when you have a Stream job hooked up it only sends results to the sink if they have matching entities.

**To Reproduce**
Steps to reproduce the behavior:
1. Call the anonymize API endpoint with text like "It is a great afternoon" and any template
2. Observe the result, you

[2020-03-27 09:14] CodeRunRepeat opened #295 "Extend list of PII types with the ones supported by TA"
With the introduction of the TA analyzer, Presidio will support additional PII types such as localized ID cards, etc. We want to extend the list of supported types to reflect this.

[2020-03-28 20:11] omri374 commented on #294
Hi @ammills01
Thanks for your issue. This indeed looks like a bug, similar to https://github.com/microsoft/presidio/issues/206

If you get to fix this, a contribution would be great. Otherwise we'll triage it and try to get to it soon.

[2020-04-04 08:25] ammills01 commented on #70
@omri374 do you all have plans to move forward with a solution to this?  If so, have you given any thought to it? I too have JSON files I'll be running through Presidio and as it sits now I'm getting malformed JSON back. My guess is the only good solution here is to loop over the JSON and send the value for each key into the anonymizer, which seems really expensive, but not as expensive as doing t

[2020-04-04 16:10] omri374 commented on #70
@ammills01 I'll reopen the issue. We don't have any ETA on this, but we'll prioritize it for the next development cycle.

[2020-04-04 16:11] omri374 commented on #70
Looks like the right way to go here is to have official support for json files, and have the user define which fields should be analyzed and anonyized and which should be ignored. I suppose this would require a json schema from the user

[2020-04-05 07:13] ammills01 commented on #70
Thanks @omri374. One consideration I want to bring up is nested JSON. You may have n number of properties at the first level, and all of those are consistent and well known. But then one of those properties could contain a JSON object with n number of properties with nesting of its own. In my case, I know I want the content of only 1 property analyzed, details in the example below, and within that

[2020-04-05 08:31] omri374 commented on #70
Thanks @ammills01, I agree, that's the biggest challenge with JSON. I think the best solution would to provide an additional JSON which points to the specific parts of the json (nested or not) which needs to be analyzed. Then, Presidio would return the either the original JSON with updated values, or a small JSON with only the amended changes, and the user would have to merge the two back. Will th

[2020-04-06 02:35] ammills01 commented on #70
Yeah, that would work for me. I think returning the full JSON with updates would make life easier for most, but I can see a use case for only sending back the updates if bandwidth concerns come into play. Using this method, if I handed you a JSON object that contains the data and another that contains the field I want redacted, would you treat the field to be redacted as a string or would you see

[2020-04-06 07:59] dhpollack opened #297 "Reorganize protobuf files in analyzer"
It would be nice if the protobuf files were in a separate directory from the application files.  This requires a few tweaks to the current code base, but is not very difficult to do.  The general steps are that you need to make the generated protobufs [use relative imports](https://github.com/protocolbuffers/protobuf/issues/1491#issuecomment-438138293) and then change any reference to the protobuf

[2020-04-06 09:55] omri374 commented on #297
Thanks @dhpollack
This is in our backlog. If you're interested in proposing a change in a PR, that would be great

[2020-04-06 13:49] ammills01 opened #298 "Streams job should maintain source key when producing to sink."
The streams process, specifically Kafka, should allow us to persist the source key to the sink.

1. Send keyed data to a source Kafka topic, use a GUID or ID of some sort
2. Start a Streams job to pull from the previous topic and dump into a Kafka sink
3. Consume data from the Kafka sink and notice the key is a DateTime, not the original key

Keyed data from a Kafka source, and possibly other sour

[2020-04-07 07:15] dhpollack commented on #297
@omri374 do you have a preference on the name of the directory?  I've actually implemented this on a local copy of presidio where I used `protobuf_models` as the directory name.  If that's fine then I can probably create a PR for this relatively quickly.

[2020-04-07 07:35] omri374 commented on #297
@dhapollack Thanks! `protobul_models` sounds good.

[2020-04-07 07:40] LizaShak commented on #298
Hi Andrew,
Thank you for creating the FR. It sounds like a nice and important feature to support! You are welcome to submit a PR to implement this FR.
We will also add it to our backlog, so we can keep track of it.

[2020-04-07 11:52] eladiw commented on #294
Hi @ammills01,
We will check it out soon. thanks!

[2020-04-09 10:30] dhpollack opened #302 "presidio analyzer - config dir error"
**Describe the bug**
The presidio analyzer should have the default dir for the config to be in the user's home, but instead it creates a folder in the run dir named `~`.

**To Reproduce**
run the presidio analyzer

**Expected behavior**
`~` expands to the user home path

**Additional context**
The cli does not properly [expand the user dir](https://github.com/microsoft/presidio/blob/master/presidi

[2020-04-11 15:24] #193 closed

[2020-04-11 15:24] omri374 commented on #193
Fixed

[2020-04-11 17:30] eladiw commented on #302
Hi @dhpollack
Thanks for opening this issue.

We will look into this issue. If you can contribute a PR it will be appreciated.

[2020-04-12 07:37] #297 closed

[2020-04-12 10:44] eladiw opened #303 "Fix surrounding context for unsupported languages"
Presidio supports score improvement using the analysis of surrounding context words.
This is done using the NLP engine (SpaCy) to tokenize and lemmatize the sentences.

Since Presidio preloads only the english model. other languages are not supported for context score improvement

[2020-04-13 18:24] ammills01 opened #304 "Services with long-lived connections are not load balanced"
**Describe the bug**
When API instances spool up they create long-lived connections to other services, like the Analyzer. Even though that connection is created using the Cluster IP Service URL the API locks onto a single pod and the load is not balanced.

**To Reproduce**
1. Stand up API with 1 pod
2. Stand up Analyzer with 2+ pods
3. Open logs for all Analyzer pods and set auto-refresh
4. Make 1

[2020-04-13 19:00] #229 closed

[2020-04-16 05:31] balteravishay commented on #304
great catch!
we are considering linkerd/istio as well.

[2020-04-16 12:31] ammills01 commented on #304
I have not messed with Linkerd, but installing Istio on the AKS was super easy. I followed the guide on the MS website and it probably took me 10 minutes. The Kiali UI is really intuitive and easy to use as well.

https://docs.microsoft.com/en-us/azure/aks/servicemesh-istio-install?pivots=client-operating-system-linux

Personally, I'd like to see Istio or Linkerd as an option when setting up an AK

[2020-04-19 00:02] #235 closed

[2020-04-19 00:02] #262 closed

[2020-04-19 00:02] #196 closed

[2020-04-19 00:02] #227 closed

[2020-04-19 00:02] #194 closed

[2020-04-19 00:02] #143 closed

[2020-04-19 00:02] #158 closed

[2020-04-20 20:27] gitcarbs opened #309 "Typo in us_bank_recognizer misses key word"
**Describe the bug**

A simple sentence such as `this is my bank number 23431222` does not get detected as containing a US Bank number even though the regex matches. There's a typo in the recognizer which combines bank and check causing it to miss the context.

**To Reproduce**

Run the analyzer against the sentence above. A bank entity won't be found.

**Expected behavior**
A `US_BANK_NUMBER` ent

[2020-04-20 20:31] omri374 commented on #309
Hi @gitcarbs, thanks for the PR!

[2020-04-21 11:52] CodeRunRepeat opened #311 "Adding helm replicas and resources to configuration"
See description of #306

[2020-04-23 04:47] akazemis opened #314 "The scan scheduler sample in the documentation doesn't work"
**Describe the bug**
When you follow the sample JSON for the "schedule-scanner-cronjob" in the documents the API result would be HTTP 400 Bad Request with message: "ScannerCronJobTemplateId or ScannerCronJobRequest must be supplied"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://microsoft.github.io/presidio/tutorial_scheduler.html'
2. Copy the JSON sample in the documentation

[2020-04-23 10:43] LizaShak commented on #314
Hi @akazemis ,
Thank you for raising this issue and solving it in the PR :) We will review your PR as soon as possible.

[2020-04-24 00:02] #287 closed

[2020-04-26 07:45] omri374 opened #317 "Consider using Black instead of Pylint for Python linting"
Black is a new code formatter for python with additional capabilities. It integrates with different IDEs like PyCharm and VSCode.

Black repo: https://github.com/psf/black
Black playground: https://black.now.sh/

PyCharm integration: https://github.com/psf/black#pycharmintellij-idea

VSCode integration:
https://code.visualstudio.com/docs/python/editing#_formatting

Pros:
- Better formatting and li

[2020-04-26 07:46] omri374 commented on #317
@dhpollack Feel free to add your thoughts here about your experience with Black

[2020-04-28 10:21] akazemis commented on #314
No worries, thanks Liza! Happy to contribute to this awesome project.

[2020-04-28 16:29] dhpollack commented on #317
First off, it should be noted that it's replacing pylint + flake8 with black + flake8.  Black is only a formatter that makes your code pass the linter.

I find the consistency of the formatting to be really nice.  Small things like always using double quotes and formatting lists are opinionated, but I quickly got used to their style.  I always felt like the score that pylint gives is a bit contriv

[2020-04-30 17:03] willsthompson opened #318 "assert_result_within_score_range() always uses range of 0-to-1 over range values passed as arguments"
**Describe the bug**
The function `assert_result_within_score_range()` in `presidio-analyzer/tests/assertions.py` always uses 0 and 1 as the expected min and max range boundaries, regardless of what range values are passed in through the `expected_score_min` and `expected_score_max` arguments.

**To Reproduce**
Steps to reproduce the behavior:
1. Choose any recognizer test from `presidio-analyzer/

[2020-05-02 14:07] LizaShak commented on #318
Hi @willsthompson  ,
Thank you for raising this issue and fixing it in the PR :)

[2020-05-02 14:13] #309 closed

[2020-05-02 16:35] jems25 opened #320 "ModuleNotFoundError: No module named 'protobuf_models'"
**Describe the bug**
Tried to install locally and ran the test program

C:\Anaconda\python.exe "C:/Users/jesmi.harindran/Documents/Ticket Analysis Python/New folder/GSK.py"
Traceback (most recent call last):
  File "C:/Users/jesmi.harindran/Documents/Ticket Analysis Python/New folder/GSK.py", line 1, in <module>
    from presidio_analyzer import AnalyzerEngine
  File "C:\Anaconda\lib\site-packages

[2020-05-03 07:06] omri374 commented on #320
Hi @jems25, thanks for the information. We recently changed the way protobuf files are handled. We'll check if this introduced a bug and get back to you.

[2020-05-03 10:05] omri374 commented on #289
Reopening, swagger endpoint is still not available

[2020-05-04 04:12] ushurinterns-pragnyas commented on #320
The same issue persists when the package is installed via pip :
$pip install presidio-analyzer
Traceback (most recent call last):
  File "pii_pres.py", line 1, in <module>
    from presidio_analyzer import AnalyzerEngine
  File "C:\ProgramData\Anaconda3\lib\site-packages\presidio_analyzer\__init__.py", line 16, in <module>
    from presidio_analyzer.recognizer_registry.recognizer_registry \
  File

[2020-05-04 06:18] #318 closed

[2020-05-04 06:21] LizaShak commented on #304
Thank you for your feedback @ammills01 , we have added the documentation task to our backlog.

[2020-05-04 13:18] omri374 commented on #320
Thank you @ushurinterns-pragnyas, this should be fixed in PR #321

[2020-05-06 08:42] #320 closed

[2020-05-06 14:26] jems25 opened #323 "NER not working when the format Name: David JName: David J"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://presidio-demo.azurewebsites.net/
2. Paste: in Input text text Box
IP: 192.168.0.1
    Name: David J

Anonymized text comes has

IP: <IP_ADDRESS>
    Name: David J

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional cont

[2020-05-06 18:18] omri374 commented on #323
Hi @jems25, looks like the issue is actually with the IBAN recognizer and not with the NER. If you paste only this:
IP: 192.168.0.1
Name: David J

It does work. The actual issue is probably with the IBAN recognizer. I'll open a different issue on this one.

[2020-05-14 21:49] torosent opened #326 "Update to go 1.14 and go modules"
Go services needs to be updated to latest go version and migrate to go modules.
This will remove the dependency on the obsolete dep tool.
**note:** make sure client-go import is up to date as well.

I also suggest to switch to [distroless](https://github.com/GoogleContainerTools/distroless) containers and golangci-lint instead of gometalinter

[2020-05-15 12:38] omri374 commented on #326
Hi @torosent, thanks for the information. We have both items on our backlog. Updating Go requires some complex refactoring. Feel free to propose a PR ;)

[2020-05-18 07:02] navalev commented on #314
closing this issue as resolved in PR #315

[2020-05-18 07:02] #314 closed

[2020-05-19 11:49] navalev commented on #323
Hi @jems25. We are unable to reporduce the issue you decribed. Could you please include the steps to reprodue this?

[2020-05-26 18:28] AlexanderTyan opened #328 "broken urls under https://github.com/microsoft/presidio#developing-presidio"
**Describe the bug**
A clear and concise description of what the bug is.
A lot of hyperlinks under `https://github.com/microsoft/presidio#developing-presidio` are 404.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `https://github.com/microsoft/presidio#developing-presidio`
2. Click on e.g. "Create Reusable Templates"
~~3. Scroll down to '....'~~
4. See error 404

**Expected behavior*

[2020-05-26 18:34] omri374 commented on #328
Hi @AlexanderTyan, thanks for the issue.
Should be fixed now.

[2020-05-26 18:34] #328 closed

[2020-05-27 19:51] AlexanderTyan opened #332 "broken hyperlink at https://github.com/microsoft/presidio/blob/master/docs/install.md#L5"
**Describe the bug**
In https://github.com/microsoft/presidio/blob/master/docs/tutorial_analyzer.md#using-the-analyzer-service  "Install Presidio" link goes to 404

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/microsoft/presidio/blob/master/docs/tutorial_analyzer.md#using-the-analyzer-service
2. Click on "Install Presidio"
~~3. Scroll down to '....'~~
4. See error

[2020-05-28 05:36] omri374 commented on #332
Hi @AlexanderTyan , we've renamed "install.md" to "deploy.md" and probably missed this reference. A contribution would be great if you're interested.
Should reference to https://github.com/microsoft/presidio/blob/master/docs/deploy.md

[2020-05-28 17:10] AlexanderTyan commented on #332
cool just did a PR

[2020-05-29 13:10] #332 closed

[2020-06-03 11:25] #311 closed

[2020-06-04 04:37] iomatters opened #336 "OCR_SVC_ADDRESS is not supplied"
I might have possibly missed something, I was using build.sh to deploy dockers, presidio-api outputs "ocr service address is empty" when started, apparently the OCR_SVC_ADDRESS is not being supplied to the container.
Accordingly, presidio-api fails to anonymise images generating go runtime panic:

2020/06/04 03:26:59 [Recovery] 2020/06/04 - 03:26:59 panic recovered:
runtime error: invalid memory a

[2020-06-04 07:40] omri374 commented on #336
Hi @iomatters, thank you for the information. We'll review this and get back to you.

[2020-06-05 13:52] ammills01 commented on #304
Just wanted to update this thread to say that we moved away from Istio and started using Linkerd for our service mesh. Istio got out of hand pretty quick and made our cluster unusable due to the number of resources it was consuming. So far, Linkerd has not had that same issue and was just as easy to deploy and inject into the Presidio pods.

[2020-06-10 16:08] ns-hxue opened #340 "python api has different results from website demo"
I tried to use python api to analyze my data. However, I noticed that the results I got from it is different from the results when I use the demo website

any idea why?

[2020-06-12 12:08] omri374 commented on #340
Hi, could you please give a specific example for reproducibility?

[2020-06-12 22:05] ns-hxue commented on #340
Here is the text I tried

Harini Komaravelli Test Analyst at Oracle, Hyderabad  Hyderabad, Telangana
- Email me on Indeed: *indeed.com/r/Harini-* <http://indeed.com/r/Harini->
 Komaravelli/2659eee82e435d1b  ➢ 6 Yrs. of IT Experience in Manual and
Automation testing.  WORK EXPERIENCE  QA Analyst  Oracle  Test Analyst at
Oracle, Hyderabad  Infosys Ltd -  Hyderabad, Telangana -  November 2011 to
Febr

[2020-06-15 09:44] omri374 commented on #340
It could be a difference in versions (e.g spaCy version or model version). Which specific difference have you noticed?

[2020-06-21 18:38] KateGo520 opened #342 "Errors will happen when upgrading the libraries"
(The purpose of this report is to alert `microsoft/presidio` to the possible problems when `microsoft/presidio` try to upgrade the following dependencies)

## An error will happen when upgrading library _Azure/azure-event-hubs-go_:

### github.com/Azure/azure-event-hubs-go
-Latest Version: v3.3.0 (Latest commit 9898ba6 13 days ago)
-Where did you use it:
https://github.com/microsoft/presidio/searc

[2020-06-23 08:16] omri374 commented on #340
Closing for now, feel free to open if you have additional information.

[2020-06-23 08:16] #340 closed

[2020-06-23 08:16] omri374 commented on #323
Closing for now, feel free to open if you have more information to share with us.

[2020-06-23 08:16] #323 closed

[2020-06-23 08:17] #317 closed

[2020-06-23 08:17] itye-msft commented on #342
Hi @KateGo520 , we are investigating on how to upgrade the GO version.

[2020-06-23 08:31] KateGo520 commented on #342
Thanks for your reply. This report is a warm prompt for you to prevent or combat this issue. Just let you know the problem if you upgrade these dependencies in near future, before migrating to Go modules. By the way, the dependency manager dep does not work well with Go modules. The projects in Go modules still do not have module awareness if they use dep.
Hope this can help you.

Thanks again.
Ka

[2020-06-25 08:15] omri374 commented on #336
Hi @iomatters, the build.sh is a simple deployment using Docker for a subset of Presidio's services.
The image anonymization service is not a part of this deployment. Please refer to the [deployment doc](https://github.com/microsoft/presidio/blob/master/docs/deploy.md) on the different ways to deploy Presidio as a whole.
Another option is to alter the build.sh to contain the additional services (`

[2020-06-25 08:15] #336 closed

[2020-06-26 02:57] iomatters opened #343 "Image anonymization - false positives while PII not recognised"
Particularly with the credit/debit cards, I played around with some samples. It sometimes could recognise some minor fields, but for instance the card number itself is being partially scrubbed at best, like the first 4 numbers or so. Some samples return back false positives only yet the card holder name and the number are not recognised at all.

I was following your API samples at https://github.c

[2020-06-27 09:50] omri374 commented on #343
Hi @iomatters, could you please provide some reproducible examples?

[2020-06-30 01:35] iomatters commented on #343
Check this one out, not that indicative, the phone numbers are cleared up yet the card number is not recognised.

curl -d '{"fieldTypeGraphics":[{"graphic":{"fillColorValue":{"blue":0,"red":0,"green":0}}}]}' http://localhost:8080/api/v1/templates/public/anonymize-image/anonymtest -XPOST -H "Content-Type: application/json"

curl http://localhost:8080/api/v1/projects/public/anonymize-image -XPOST -F

[2020-06-30 11:38] CodeRunRepeat commented on #343
Hey @iomatters could you supply with a direct link to the image instead of a zip file?

[2020-06-30 12:20] iomatters commented on #343
sample
https://user-images.githubusercontent.com/18610604/86125291-692d3b00-baaa-11ea-8a17-4eeee093ba90.jpg
output
https://user-images.githubusercontent.com/18610604/86125373-8c57ea80-baaa-11ea-9ea3-9ff7f2bd80fc.jpg

[2020-07-01 19:14] omri374 commented on #343
Hi @iomatters, some thoughts that might help:
1. Could you please verify that the analyzer template you use has the person and credit card fields in it? (or has all_fields=True)? 2. The image anonymizing in Presidio is still in POC, so it might not be as robust.
3. You could consider using a different OCR engine than tesseract and use the anonymizer-image on the output of a different OCR engine.

[2020-07-01 19:26] iomatters commented on #343
#1 Yes, all is in place, please see the command below. The card numbers are well recognised, when working with text.
curl -d '{"fieldTypeTransformations":[{"fields":[{"name":"PERSON"}],"transformation":{"replaceValue":{"newValue":"\u003cUSER_NAME\u003e"}}}, {"fields":[{"name":"PHONE_NUMBER"}],"transformation":{"replaceValue":{"newValue":"\u003cPHONE_NUMBER\u003e"}}},{"fields":[{"name":"CREDIT_CARD

[2020-07-03 07:20] diwu1989 commented on #304
Isn't this easier to solve by not re-using client and long-lived connections?
Is the setup cost of a RPC client that expensive compared to the analysis of the payload?

[2020-07-03 07:44] diwu1989 opened #344 "Switch from Re2 to Hyperscan?"
Since for each blob of text, multiple regex will be applied. This seems like a use-case better suited for Hyperscan.
https://python-hyperscan.readthedocs.io/en/latest/usage/

Is it easy to fit batch regex evaluation into the current architecture?

[2020-07-03 21:50] ammills01 commented on #304
That depends on your volume. I'm churning 800+ records per second through Presidio in production so the loss in efficiency would be pretty painful. Also, Linkerd was really easy to implement.

[2020-07-09 07:42] omri374 commented on #344
Hi @diwu1989, thanks for the suggestion!
Switching from RE2 to hyperscan would require a significant architecture change of how Presidio's PII recognizers are currently set up and orchestrated.
In addition, we support non-regex recognizers as well, which should also be refactored in case of such change.

Since we didn't encounter a major performance hit with re2 (most of the latency comes from the

[2020-07-09 07:42] #344 closed

[2020-07-09 07:43] omri374 commented on #343
Sorry, not an expert in OCR. You could try the Microsoft OCR (even in trial mode) and see if you get much better results. It could also be related to tesseract parameters requiring some tuning for this specific case.

[2020-07-12 07:42] #294 closed

[2020-07-14 21:50] ammu11 opened #346 "How to convert spacy dataset to dataset which is used for flair model"
Can you please tell me how to convert spacy data with json entities to synth dataset which containd spans, tags and so on which is used for flair model

[2020-07-19 10:34] omri374 commented on #346
Hi @ammu11, are you asking about the presidio-research repo? If yes, could you please open the issue there?

[2020-07-19 10:34] #343 closed

[2020-07-26 07:15] #346 closed

[2020-08-02 07:10] omri374 opened #353 "How to create a black-list based or pattern based recognizer via code?"
To create a new simple pattern based / black-list based recognizer, we should use/inherit from the `PatternRecognizer` class.
An example:

[code]

To call only this recognizer:

[code]

To get this recognizer into the list of all recognizers being called by the `AnalyzerEngine`, there are two options:
1.	Create a new file with your new recognizer, and add it to the list of predefined recognizers:

[2020-08-03 03:03] akrock opened #355 "presidio-analyzer docker image fails to start"
**Describe the bug**

Attempting to run the latest docker image results in a python Module error.

[code]
**To Reproduce**
Steps to reproduce the behavior:
1. ` docker run  mcr.microsoft.com/presidio-analyzer:latest`

**Expected behavior**
Maybe an error about not being able to connect to the recognizer store? I'm not sure I have never seen it actually run.

**Additional context**
While I understa

[2020-08-03 06:14] aseemsethi opened #357 "Not able to install Presidio via KIND"
I did a "git clone", ran ./prerequisites.sh, and finally ran ./run-with-kind.sh
Everything looks good, till this last step, where i get this error.

Error: render error in "presidio/templates/analyzer-deployment.yaml": template: presidio/templates/analyzer-deployment.yaml:29:30: executing "presidio/templates/analyzer-deployment.yaml" at <.Values.analyzer.container.resources.requests.memory>: nil p

[2020-08-03 23:51] akrock commented on #357
@aseemsethi I hit the same issue, it's fixed by PR #354

[2020-08-04 01:26] aseemsethi commented on #357
Thanks. Removing the duplicate "resources", enabled the script to run to completion.

After the script completed, the status shows 2 entities below crashing repeatedly.
[root@localhost ~]# kubectl get pod -n presidio
NAME                                                                                   READY   STATUS             RESTARTS   AGE
presidio-demo-presidio-analyzer-6cb775f5b8-v8fk9

[2020-08-04 02:13] akrock commented on #357
I had the same issue w/ the `presidio-analyzer` and I addressed it in #356

I did not have any issues w/ the `presidio-api` image, but I'm running in full kubernetes

[2020-08-04 04:59] aseemsethi commented on #357
Thanks for the PR diffs, but even after adding the following line to app.py, i still see restarts
-    sys.path.append(os.path.dirname(os.path.dirname(os.path.abspath(__file__))))

root@localhost deployment]# kubectl get pod -n presidio
NAME                                                       READY   STATUS             RESTARTS   AGE
presidio-demo-presidio-analyzer-6cb775f5b8-qksjj           0/1

[2020-08-04 05:51] aseemsethi commented on #357
The API pod is also crashing continuously. From the events command, i see that HEalthZ check is failing -
Liveness probe failed: Get   http://10.244.0.17:8080/healthz: dial tcp 10.244.0.17:8080:
Where does this IP address 10.244.0.17 come from ?

The other IPs in the cluster are as follows:
==> v1/Service
NAME                                     TYPE       CLUSTER-IP      EXTERNAL-IP  PORT(S)   AG

[2020-08-04 14:28] tpb1962 opened #359 "Run on Windows 10"
Hi,

I need to run an PII data anonymization on .pdf and .jpg documents. This would be a proof of concept to possibly use later in production which would most likely be a Win 2016 Server machine. All would need to be local on prem for security reasons.

Is this possible?

I tried install with KIND but got errors running the steps.

I do have Docker on my Win 10 laptop and have used successfully te

[2020-08-04 17:46] omri374 commented on #359
Hi @tbp1962,
Thanks for the feedback. Could you please share the KIND errors you were getting?

We don't officially support a Windows deployment, but it might be possible to get everything running using Docker (not using the make file). Try running the commands in `build.sh` and `run.sh` to get the containers running. Note that I haven't tried it myself so they might need some adapting from bash t

[2020-08-04 18:07] omri374 commented on #355
Hi @akrock, thanks for the issue. This is probably an issue with the release pipeline not releasing the latest version. We're looking into this.

[2020-08-04 20:32] tpb1962 commented on #359
Hi,

I played around with the scripts. I think I have the containers up (see attached file).

If they do look usable I'm looking for how to test. I was assuming I would make an API call. Looking at the swagger file it seems they all have {projectID} which I'm not sure what that is referencing.

Looking to send text to anonymize  and .jpg  to anonymize-image and get back PII masked. Not sure of the

[2020-08-05 07:52] omri374 commented on #359
project_id can be anything. No need to specify anything special.
Regarding anonymize-image, see example 6 here: https://github.com/microsoft/presidio/blob/master/docs/tutorial_service.md

[2020-08-06 17:15] tpb1962 commented on #359
Hi,

Getting connect errors (see attached). I disabled virus and firewall but still no go.

Any help most appreciated.

Thanks
![presidio_docker_2](https://user-images.githubusercontent.com/53224998/89561716-88706400-d7de-11ea-89a2-f698eec3fb5a.JPG)

[2020-08-06 21:26] tpb1962 commented on #359
Hi,

On the previous post it may have to do with Docker ports which I can possibly figure out.

The presidio-api keeps stopping for some reason. Stays up for about a minute then goes away. I'm not finding any good info on how to troubleshoot.

I'm assuming I need both presidio-api and presdio-anonymizer-image to anonymize an .jpg.

Thanks
![presidio_docker_3](https://user-images.githubusercontent.

[2020-08-07 16:33] tpb1962 commented on #359
Hi,

I was able to get it working. It looks like you have to have presidio-analyzer up and running in order to run presidio-api and presidio-anonymizer-image.

I started everything in the run.sh except redis. I successfully got results even though in the results it told me "It looks like we don't support this file type." . It was a .jpg .

I'll try with a .png since that was in the example. I thou

[2020-08-07 16:49] tpb1962 commented on #359
Hi,

I tried .jpg and .png and got same results. Please see attachments.

Thanks
![mydoc_filetype_error](https://user-images.githubusercontent.com/53224998/89668755-e74be100-d8a3-11ea-965c-d86747f7b85c.JPG)

![mydoc_result](https://user-images.githubusercontent.com/53224998/89668786-f894ed80-d8a3-11ea-87b7-48a6db90f8e8.png)

[2020-08-07 16:52] tpb1962 commented on #359
This is what I get.

Thanks
![mydoc](https://user-images.githubusercontent.com/53224998/89669055-6a6d3700-d8a4-11ea-90c8-ae05807fd09b.JPG)

[2020-08-08 20:47] omri374 commented on #359
Presidio uses [tesseract](https://github.com/tesseract-ocr/tesseract/wiki) and [its go client](https://github.com/otiai10/gosseract). I would check if your image can be parsed using these or there's a different issue.

[2020-08-08 23:43] tpb1962 commented on #359
Hi,

Thanks for looking into the issues.

Unfortunately that is getting beyond my knowledge base with docker and I haven't used tesseract,

We were hoping the service would work like Form Recognizer service and labeling tool container versions as we were able to use without issue.

https://docs.microsoft.com/en-us/azure/cognitive-services/form-recognizer/quickstarts/label-tool

I put everything we

[2020-08-09 08:32] omri374 commented on #355
Released new version, issue is now fixed.

[2020-08-09 08:32] #355 closed

[2020-08-10 07:29] #302 closed

[2020-08-10 10:26] armaan6651 opened #361 "Ignore certain words during anonymization"
I want to ignore certain medical terms during anonymization as Presidio is identifying them as Person names.

I don't want to run anonymization on medical terms. Is there a way to make Presidio ignore certain words from a list/dictionary?

[2020-08-10 14:25] omri374 commented on #361
Hi @armaan6651. There is currently no functionality to ignore certain words. A simple solution could be to ignore a specific entity (e.g. Person) by passing a list of fields that you want to be analyzed. This would ignore all Person entities.
Another option is to change the acceptance threshold, which can help in case there are too many false positives.

[2020-08-11 03:17] armaan6651 commented on #361
Hi @omri374. Thank you for your reply. I noticed that the analyzer always gives a score of 0.85 to all names.

[2020-08-11 08:23] omri374 commented on #361
Yes, the ML model we're using (spacy) does not output prediction confidences, so these are hard-coded at 0.85.

[2020-08-11 08:27] omri374 commented on #361
A few more complex alternatives:
1. Replace the NER model we are using. See an evaluation we did [here](https://towardsdatascience.com/nlp-approaches-to-data-anonymization-1fb5bde6b929)
2. Adapt the `AnayzerEngine` to accept a list of words to ignore.
3. Filter out some of the `RecognizerResult`s outputted by presidio-analyzer after analysis has completed and before anonymization takes place.
4. C

[2020-08-11 14:28] armaan6651 commented on #361
Great! Thank you

[2020-08-11 18:50] #361 closed

[2020-08-11 21:36] willsthompson opened #362 "US SSN recognizer very weak match test fails"
**Describe the bug**

I'm not sure if this is a bug, but one of the recognizer tests is disabled with the comment `TODO figure out why this fails` here: https://github.com/microsoft/presidio/blob/master/presidio-analyzer/tests/test_us_ssn_recognizer.py#L20-L21

The very weak match tests use `"078-05112"` and `"07805-112"` as input, but `UsSsnRecognizer`'s `invalidate_result()` function rejects SSN

[2020-08-12 12:43] omri374 commented on #362
@diwu1989 perhaps you can take a look?

[2020-08-13 00:08] #298 closed

[2020-08-14 18:24] KChalk opened #363 "IBAN Validation failure"
Running the analyzer with default values on my dataset, I get the following error (my data is masked with # for digits and Aa for characters). I believe this to be a Presidio error rather than my own.

[code]

Full stack :
[code]
##'s in response are `text[-26:-1]`

[2020-08-18 18:07] MuriloSchaefer commented on #275
Hey there,

have you found a solution for the long-running job?

Also, I'm trying to execute the endpoint `/api/v1/projects/:id/schedule-streams-job` with the exact same body json as mentioned here, but the presidio-api is returning me a `500` error, in the container logs I found:

[code]

Do you have any idea why is it happening?

[2020-08-18 19:48] ammills01 commented on #275
@MuriloSchaefer you could try with something like below. It changes the analyze and anonymize templates to all and removes the analyze result which means we have to provide less JSON that can become malformed.

{
  "streamsJobRequest": {
    "name": "stream-job-test",
    "streamsRequest": {
      "streamConfig": {
        "kafkaConfig": {
          "address": "localhost:9092",
          "topic":

[2020-08-18 23:29] MuriloSchaefer commented on #275
I think I've found the reason, I wasn't running presidio on Kubernetes, and for those jobs to work Presidio needs to be hosted in a Kubernetes system. I will try that out tomorrow.

Thanks for the support.

[2020-08-20 22:18] sdolenc commented on #274
@omri374 , is this the official pypi package? https://pypi.org/project/presidio-analyzer/

If not, is there any estimate for when the package will arrive on pypi?

[2020-08-20 22:35] sdolenc commented on #359
I know the original post specifically asked about running this on Windows Server 2016, but I wanted to share that build.sh worked for me on Win10 build 2004. I used ubuntu in WSL2 by following these instructions :
https://docs.docker.com/docker-for-windows/wsl/

which are basically the same steps outline here:
https://code.visualstudio.com/blogs/2020/07/01/containers-wsl#_getting-started

I then i

[2020-08-21 04:43] omri374 commented on #274
Hi @sdolenc, it is official but still in beta.

We are mainly missing documentation and some tests around this use case, but it is essentially the same code as the analyzer service so no problem using it.

[2020-08-26 22:36] tpb1962 commented on #359
Hi,

I did as Stephen  @sdolenc suggested and rebuilt everything on my Win 10 machine per the instructions he posted. Thanks for that Stephen!

I did the build which did take some time and posted a lot on the screen. It seemed to finish correctly and I was able to get the presidio-analyzer container up where prior I was not. I successfully did the analyze text example.

My attempt with the anonymi

[2020-08-27 00:08] #303 closed

[2020-08-27 17:01] tpb1962 commented on #359
Hi,

Ok, did some more checking and it appears what is actually in the output.png is:

"open /tmp/myproject5.analyze.myAtemplate1: no such file or directory"

If you look at the output.png with MS Photos you get the "it looks like we don't support this file format" but if you look at it in notepad++ it has the text. The error is the same one I get trying the anonymize text example.

Is is supposed

[2020-08-29 00:13] #274 closed

[2020-09-05 00:06] leomehr-lumos opened #364 "Unecessary logging in SpacyNlpEngine"
**Describe the bug**
The SpacyNlpEngine always prints model info, even if the log level is not debug.

Specifically this line is the issue:
https://github.com/microsoft/presidio/blob/e5fe414fd6108095e9fade11280d8143a9948f88/presidio-analyzer/presidio_analyzer/nlp_engine/spacy_nlp_engine.py#L31

Note that spacy.info() is always called (even if the log level is > debug).

You can see from the spacy

[2020-09-09 00:09] #289 closed

[2020-09-09 11:03] devesh23 opened #366 "[NOT A ISSUE] [HELP REQUIRED] How to get the output of "what is anonymized in the image in a json/any other format""
I am trying to determine the accuracy of Presidio to integrate into my product. For that, I want to test it out against annotated images for which I have the annotation available in JSON.

I am trying to figure out any way that I can get an output in JSON using presidio. Is it possible?

[2020-09-10 04:33] jems25 opened #367 "Presidio Python packages downloads spacy package every time the analyzer is run"
I have installed the spacy package en_core_web_lg using PIP.  But every time I run the Presidio analyzer it. I see the below message and it is impacting the performance
[presidio][INFO]nlp_engine not provided. Creating new SpacyNlpEngine instance

[2020-09-10 11:13] ariklevin commented on #123
Hi,

I have the same errors as you did and still didn't manage to run it successfully

My docker compose looks like this:
[code]
I run the following request:

[code]
and it results with

[code]

Any thoughts will be appreciated

[2020-09-11 04:02] jems25 commented on #367
I have installed presidio analyzer with pip on anaconda.
PFB the code I used to test the analyzer
from presidio_analyzer import AnalyzerEngine
from pandas import DataFrame
import spacy

spacy.load('en_core_web_lg')

engine = AnalyzerEngine()
text = open("C://Users//jesmi.harindran//Documents//Data.txt", "r")
text = text.read()

#text = "Hello, my name is David Johnson and I live in Maine. My credi

[2020-09-11 04:05] jems25 commented on #367
@omri374 ,
What i mean its creating new instance each time , which in turn delays the response time

[2020-09-12 03:30] rahulraina7 commented on #367
@jems25
You don't need to create an instance of analyzer every time. You could do this and it would still work

[code]

[2020-09-12 16:16] jems25 commented on #367
hi @rahulraina7

I still see the same message and delay of few seconds.
[2020-09-12 21:43:51,665][presidio][INFO]nlp_engine not provided. Creating new SpacyNlpEngine instance
INFO:presidio:nlp_engine not provided. Creating new SpacyNlpEngine instance

[2020-09-14 09:50] omri374 commented on #367
Hi @jems25,
I can't reproduce this behavior. Here's what I tried (based on your code):

[code]

the SpacyNLPEngine only initialized once.

[2020-09-14 10:30] #367 closed

[2020-09-14 20:15] fd98279 opened #368 "Not bug: Need documentation on how to test the Azure K8 deployment"
**Describe the bug**
Could you let me know how to test the anonymizer api? I deployed the helm chart and chart deployed fine. I set the port forwarding to local port 8080

 $ kubectl port-forward -n presidio $(kubectl get pod -n presidio -l app=presidio-demo-presidio-api -o jsonpath='{.items[0].metadata.name}') 8080:8080
:~/presidio/deployment$ kubectl port-forward -n presidio $(kubectl get pod -n

[2020-09-15 06:18] eladiw commented on #368
Seems like the URL is incorrect. try the following endpoint
http://localhost:8080/api/v1/projects/123/anonymize

where the project can be any string (e.g. 123)

[2020-09-22 12:37] fd98279 commented on #368
Thanks, that helped: I consolidated the curl commands here:

kubectl port-forward -n presidio $(kubectl get pod -n presidio -l app=presidio-demo-presidio-api -o jsonpath='{.items[0].metadata.name}') 8080:8080
[code]

# Create a template
[code]

# Detect Specific Entities
[code]

# Custom Anonymization
[code]

# Add Custom PII Entity Recognizer
[code]

[2020-09-22 12:37] #368 closed

[2020-09-22 15:18] sdolenc commented on #359
@tpb1962 , sorry for the delayed reply. To be honest: I did a cursory check when I wrote my original message (Aug20) and it looked like things were working okay on WSL2. I haven't had the chance to play with Presidio much since then.

I'm hoping others have some suggestions for possible next steps.

[2020-09-22 17:17] tpb1962 commented on #359
Thanks @sdolenc  , no problem on replying.

I actually got it working. I will list my findings and eventually close the issue.

If you have limited knowledge of python and docker like I did then maybe this will be helpful when trying out Presidio.

I'm still awaiting confirmation that what I did was correct and we may possibly update the documentation. My main objective of trying this out was for

[2020-09-22 17:30] omri374 commented on #359
Hi @tpd1962. Thanks for the detailed flow and glad you made this work! We are aware of the fact that the anonymize-image doc is lacking some clarity. If you would like to propose a PR to fix this, it would be extremely valuable for others who work on it.

[2020-09-29 00:10] #326 closed

[2020-09-30 13:59] fd98279 opened #371 "AKS: Internal Load Balancer setup?"
**Describe the bug**
How to set up AKS internal load balancer to the api PODs?

**To Reproduce**
Steps to reproduce the behavior:
Set up the LB like this:
1) YAML file
[code]

2) Applied the YAML file:
[code]

3) Service is up:
[code]

4) Cannot curl from Azure cloud console to the external IP:
[code]

If the set up the proxy through kubectl, I'm able to curl to the API:
[code]

**Expected behavio

[2020-09-30 20:23] maitham commented on #304
@ammills01  are you able to share specs of cluster etc. We seem to be limited to approx 600 requests per second regardless of how we scale pods, we're using linkerd too.

[2020-10-01 02:43] ammills01 commented on #304
Sure @maitham

Azure Kubernetes Services running 5 Standard_F8s VS's in EastUS 2. I've got an HPA on but can generally achieve 800+ rps with 10-12 Analyzer pods, and I scale Ingress and API pods to be 1/4 the number of Analyze pods. Resource limits for Analyzer pods are set at 1 CPU and 5 GB of RAM. I've found passing in a template works much faster than passing  a reference  and having Presidio h

[2020-10-02 07:58] ian-contiamo opened #372 "RecognizerRegistry uses root logger"
**Describe the bug**
The `RecognizerRegistry` class uses the root logger via `logging.info`:
https://github.com/microsoft/presidio/blob/master/presidio-analyzer/presidio_analyzer/recognizer_registry/recognizer_registry.py#L151

This makes logging quite verbose when analyzing thousands of strings, and - more importantly - difficult to suppress using the `logging` module.

**Expected behavior**
I wo

[2020-10-02 09:02] ian-contiamo commented on #372
**Edit** Thanks to this StackOverflow [answer](https://stackoverflow.com/a/64168240/5276797), I have managed to monkey-patch the logger:
[code]

[2020-10-02 13:55] rickgoud opened #373 "How to deal with different languages"
Hi,

Great repo! However only works for English. How would it work if we wanted to add classifiers for Dutch?  How to add them the best way and how does presidio know which classifiers to use depending on the language, or will it always run all (which feels like to much overkill, so should be a more intelligent way I don't fully understand yet.

Any help would be greatly appreciated!!

Regards,
Ri

[2020-10-04 11:18] omri374 commented on #372
Hi @ian-contiamo,
Thanks for the issue!
Are you interested in creating a PR? Instead of using the root logger, we can pass the [Presidio logger](https://github.com/microsoft/presidio/blob/master/presidio-analyzer/presidio_analyzer/presidio_logger.py) and use this one. We are using it in many other places, but probably missed some (like the `RecognizerRegistry`).

[2020-10-04 11:20] omri374 commented on #373
Hi @rickgoud, thanks for your comment!

To get started with additional languages, see [here](https://github.com/microsoft/presidio/blob/master/docs/tutorial_analyzer.md#using-multiple-languages).
Note that you would have to create your own recognizers in Dutch. Presidio's architecture supports multiple languages and also supports spaCy and Stanza NLP frameworks which probably have language models

[2020-10-05 04:29] kevin-yauris commented on #239
hi @navalev and @omri374, is this mean custom recognizers by API can be done with deployment using docker on local?
I tried to run `echo -n '{"value": {"entity": "ROCKET","language": "en", "patterns": [{"name": "rocket-regex","regex": "\\W*(rocket)\\W*","score": 1}]}}' | http -f POST http://0.0.0.0:8080/api/v1/analyzer/recognizers/rocket`
but the response is
[code]

I also try to get all recognize

[2020-10-06 12:19] fd98279 opened #374 "Documentation Request: Anonymization: Source configuration - Azure Blob Storage"
**Not a bug: documentation request**
Could you provide steps on how to configure Azure blob storage as a source for the data anonymization?

[2020-10-14 18:19] walvekar opened #375 "Presidio Analyzer PyPi installation."
Hello,

Do you recommend installing the Presidio Analyzer via PyPi ? or would you rather have us use the wheel approach ?

Using PyPi simplifies our installation process, so we were inclined to use it. However, we were wondering if you will continue supporting installation via PyPi. Also do you see any advantages of using one approach over the other.

Presidio Analyzer Installation via PyPI:  http

[2020-10-15 12:03] omri374 commented on #375
Hi @walvekar
You can definitely use the PyPI version (`pip install presidio-analyzer`). The PyPI version is aligned with the code in the master branch, and is not coupled with the official Presidio releases.

[2020-10-15 12:03] #375 closed

[2020-10-16 14:10] tpb1962 commented on #359
Closing this issue. Review of this stream and pull request #369 should hopefully provide information for people having trouble running on Windows as well as anonymizing images.

[2020-10-16 14:10] #359 closed

[2020-10-21 21:45] akrock opened #376 "Analyze API can return Bad Request with certain text."
**Describe the bug**
The analyze API can return a 400 status code with certain text.

Currently the following text causes this behavior.

`Galla's Pizza | 4849 Peachtree Road, Chamblee, GA 30341 770-500-3184`

**To Reproduce**
Steps to reproduce the behavior:
1. Send the text above to `/v1/projects/1/analyze`
2. Observe response.

**Expected behavior**
The normal response to the analyze method is

[2020-10-25 20:15] omri374 commented on #376
Thanks, I was able to reproduce this. We're looking into it.

[2020-10-25 20:50] omri374 commented on #374
Hi @fd98279, is this helpful? https://github.com/microsoft/presidio/blob/master/docs/tutorial_scheduler.md#input-and-output-configurations

[2020-10-25 20:50] #373 closed

[2020-10-25 21:20] omri374 commented on #376
#377

[2020-10-26 12:18] omri374 commented on #363
Related to #376

[2020-10-29 09:22] walvekar opened #378 "Grpcio dependency version inconsistency"
Hello,

The version of `grpcio` in the  presidio-analyzer/Pipfile is set to the latest version. However, the version of grpcio in presidio-analyzer/setup.py is fixed to 1.21.1.

Same is the case with protobuf.

We are planning on using presidio-analyzer and are having a dependency conflict in our project due to this.  Would it be possible for you to update `setup.py` and have `grpcio` and `protobu

[2020-11-05 11:26] shridhardamle commented on #362
SSN recognizer is failing in demo too. If you load https://presidio-demo.azurewebsites.net/ SSN is exposed. If you edit it, it fixes the issue. For example delete 078 and put it back; now it recognizes it and then its anonymized.

[2020-11-05 22:07] omri374 commented on #362
Thanks @shridhardamle! We'll take a look.

[2020-11-08 07:35] #363 closed

[2020-11-08 07:35] #376 closed

[2020-11-23 19:55] Yggy-creator opened #379 "Presidio analyzer"
Good day,
Very interesting tool, really wanted to try it ASAP but ran into an issue:

I was following your instructions to run that python example code, wanted to check how it works. BUT was not able to install wheel. During installation it complains that it cannot find C++ 14.0 compiler. I had VS 2015 installed, Path variable for properly populated with needed links. That didn't help. Then I remo

[2020-11-23 20:07] omri374 commented on #379
Hi @Yggy-creator, thanks for the info.
I'm not sure why it requires a C++ 14.0 compiler. The analyzer uses `re2` as a regex engine, but would fall back to `regex` in case `re2` is not available.  Have you tried simply calling `pip install presidio-analyzer`?

[2020-11-23 20:13] Yggy-creator commented on #379
Thank you for fast response Omri.
Yes I did try to install both presidio-analyzer and presidio-analyzer-fixed, both give same error during installation, please see log below:

    running build_ext
    building 'Cython.Plex.Scanners' extension
    error: Microsoft Visual C++ 14.0 is required. Get it with "Build Tools for Visual Studio": https://visualstudio.microsoft.com/downloads/
    -----------

[2020-11-23 20:23] Yggy-creator commented on #379
Thank you for response Omri, I did try that one and also presidio-analyzer-fixed, but both installations failed with this error :(

    running build_ext
    building 'Cython.Plex.Scanners' extension
    error: Microsoft Visual C++ 14.0 is required. Get it with "Build Tools for Visual Studio": https://visualstudio.microsoft.com/downloads/
    ----------------------------------------
ERROR: Command

[2020-11-24 07:53] omri374 commented on #379
Could you please try to install cython alone? `pip install cython==0.29.10`? See if this works.

[2020-11-24 09:33] omri374 commented on #378
Hi @walvekar, would you consider creating a PR?

[2020-11-24 09:34] #374 closed

[2020-11-27 19:42] SujithThazhathveedu commented on #123
I have deployed Presidio using the docker deployment
I see the 4 docker container running
![image](https://user-images.githubusercontent.com/69573536/100480216-a14aaf80-3116-11eb-8d3e-78a65a85bdca.png)
i try to run this
$ echo -n '{"text":"John Smith lives in New York. We met yesterday morning in Seattle. I called him before on (212) 555-1234 to verify the appointment. He also told me that his dri

[2020-11-27 19:45] nikhil-neu commented on #123
I have deployed Presidio using the docker deployment
I see the 4 presidio docker containers running

i try to run this
$ echo -n '{"text":"John Smith lives in New York. We met yesterday morning in Seattle. I called him before on (212) 555-1234 to verify the appointment. He also told me that his drivers license is AC111921", "analyzeTemplate":{"fields":[]} }' | http -F --verify=
no http://172.105.2

[2020-11-27 19:46] nikhil-neu opened #380 "Unable to use the presidioservice"
I have deployed Presidio using the docker deployment
I see the 4 presidio docker containers running

i try to run this
$ echo -n '{"text":"John Smith lives in New York. We met yesterday morning in Seattle. I called him before on (212) 555-1234 to verify the appointment. He also told me that his drivers license is AC111921", "analyzeTemplate":{"fields":[]} }' | http -F --verify=
no http://172.105.2

[2020-12-01 16:06] SujithThazhathveedu commented on #380
knock - knock

[2020-12-02 23:40] zoubinirani commented on #239
I'm also getting the same responses as @kevin-yauris when submitting the same requests. Furthermore, when sending text to analyzer, I'm getting the same errors/responses as @apresmoi.

Steps to recreate:
- Set up AWS EC2 Ubuntu 18.04 instance and SSH in
- Prepare the development environment similar to steps here: https://medium.com/@mileshill_40155/install-microsoft-presidio-on-ubuntu-18-04-3b83f6

[2020-12-03 00:05] zoubinirani opened #381 "Presidio API not providing expected responses to requests"
**Describe the bug**
The Presidio API is not providing expected responses to requests, suggesting that Presidio is not correctly set-up/working for me.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up an AWS EC2 Ubuntu 18.04 instance (tried `t2.medium` and `t2.large`) and SSH in.
2. Prepare the development environment similar to steps here: https://medium.com/@mileshill_40155/install-m

[2020-12-03 06:43] sushilr007 opened #382 "Unable to install presidio-analyzer in Python 3.8"
I am using Python 3.8 and its unable to install .whl from dist folder.
Presidio-analyzer is asking for grpcio==1.21.0 but it not able install in python 3.8.

**Screenshots**
![error](https://user-images.githubusercontent.com/35765579/100973597-da44b300-3560-11eb-90a9-8cb1a47fd64f.png)

[2020-12-03 10:27] omri374 commented on #382
Hi @sushilr007, we haven't tested Presidio on 3.8 yet. Best to use a virtual environment with 3.7

[2020-12-03 10:31] omri374 commented on #381
Hi @zoubinirani,
From a first glance it looks like you are calling the Presidio analyzer with no requested fields (i.e. PII entities). You should either pass a list of fields (`"fields":["PERSON"]`) or to use all of them: `"analyzeTemplate":{"allFields":true}`.

[2020-12-03 10:37] sushilr007 commented on #382
Thanks @omri374 its working in 3.7

[2020-12-03 15:57] zoubinirani commented on #381
Hi @omri374 ,

I feel silly that seems to have fixed it.

I should've looked at the examples provided more carefully to see if I was missing any details - `https://github.com/Microsoft/presidio/blob/master/docs/tutorial_service.md`.  Thanks for your quick help and response.

For others who may also have issues. I've included a few examples below.

**Analyzer:**
_Request:_ `echo -n '{"text":"John S

[2020-12-03 15:57] #381 closed

[2020-12-03 15:58] zoubinirani commented on #239
@kevin-yauris check out https://github.com/microsoft/presidio/issues/381 and see if this solves your problem.

[2020-12-04 07:59] deepanshug opened #383 "presidio anonymizer for python"
Currently I can see presidio analyzer as python standalone package, is there any chance that python anonymizer or python recognizer package will be available?

it will be great if entire presidio can be available as python package.

[2020-12-04 08:04] deepanshug commented on #383
It will be great if entire presidio can be available in python as package.

[2020-12-04 20:34] zoubinirani opened #384 "Architecture Question: Ability to process concurrent requests"
**Question:** does Presidio have the ability to process concurrent requests? And if so, is any configuration required?

**Background Information**
To give a bit of context, I'm currently parsing through a JSON document and want to send requests concurrently to the API endpoint for analysis/redaction. I have not been able to get Presidio to run requests concurrently and was wondering if there was a

[2020-12-05 14:52] sushilr007 commented on #380
can you tell how are you running this service ?

[2020-12-06 09:58] omri374 commented on #383
Thanks for your message @deepanshug
The presidio anonymizer module is not a Python module, so we cannot release it as a Python package. However, most de-identification techniques (redaction, masking, replacing) are straightforward given the output of the Presidio Analyzer.

We don't have a python recognizer package. Did you mean the recognizer registry? Adding new recognizers via code is an altern

[2020-12-06 10:12] omri374 commented on #384
Hi @zoubinirani ,
How did you deploy Presidio? Using Docker, python or Kubernetes?

In theory each call to the Presidio API is consecutive, but you can achieve parallelism using a Kubernetes deployment.

[2020-12-07 06:30] nikhil-neu commented on #380
@sushilr007 i just followed the deployment by docker documentation . I see the docker container running. Do i need to do anything else to the get the services running .

[2020-12-07 15:34] zoubinirani commented on #384
Thank you @omri374 for your quick response.

I've deployed using docker but am open to trying/testing k8 if the concurrency increase is significant.

A few follow-up questions:
- By consecutive do you mean that each call to the Presidio API is synchronous (i.e. Presidio will not start the next call before finishing the previous call)?
- Based on your response to https://github.com/microsoft/presid

[2020-12-09 12:08] bhaveshkr opened #386 "ERROR: Couldn't install package: pyre2"
**Describe the bug**
Build fails while installing packages in Pipfile.lock. It was working last week but seeing this since yesterday. There is no issue in installing https://github.com/torosent/pyre2/archive/release/0.2.23.zip using pip.

**To Reproduce**
Steps to reproduce the behavior:
clone presidio repo and run ./build

**Expected behavior**
It should install everything in Pipfile.lock without

[2020-12-14 04:29] deepanshug commented on #383
Hi,

Thanks for your response.
As you said, I just used python Analyzer and redacted words after that.

Regards
Deepanshu
________________________________
From: Omri Mendels <notifications@github.com>
Sent: 06 December 2020 15:28
To: microsoft/presidio <presidio@noreply.github.com>
Cc: deepanshug <garg.deepanshu15@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [microsoft/presidio]

[2020-12-14 09:09] rahulraina7 commented on #384
Maybe I can add a bit of more information for @zoubinirani

https://github.com/microsoft/presidio/blob/7935adf03c80a0ba5d53c6affb7d7c78198affaa/presidio-analyzer/presidio_analyzer/app.py#L80

As you can see this takes a thread pool, which executes RPC handlers

More requests obviously would have more network overhead. Maybe do minibatch of requests to reduce overhead.

[2020-12-19 08:01] fearghal commented on #380
@nikhil-neu I've gotten that connection error before from HTTPie when it can't reach the server, e.g. if I had a bad hostname in the url.

I've been deploying to the cloud, so I'm not sure how the local docker setup works, but I think it's most likely an incorrect IP address or a port-mapping issue.

Try hitting this url in the browser to see if you get a response.
http://172.105.253.118/api/v1/an

[2020-12-22 21:35] zoubinirani commented on #384
Thanks @rahulraina7 . This helps a lot.

Closing issue.

[2020-12-22 21:35] #384 closed

[2020-12-23 09:46] sjoerd-dijkstra commented on #386
We were experiencing the same issue.

Using a workaround atm. From the [dev docs](https://github.com/microsoft/presidio/blob/master/docs/development.md#setting-up-the-python-environment-) it seems pyre2 is not mandatory. We disabled this package from the Pipfile and build using `pipenv install  --skip-lock`. I can confirm the resulting application works fine.

Will do some research on how to enabl

[2020-12-23 09:59] omri374 commented on #386
Thanks @sjoerd-dijkstra for the provided workaround! We are actually looking onto removing the depdency on pyre2 and sticking with regex.

[2020-12-23 13:40] fearghal opened #389 "Error in Azure DevOps pipeline downloading mcr.microsoft.com/presidio-golang-deps:latest"
Hi,

I'm somewhat new to Presidio, so I'm not totally sure if what I'm doing is expected to work or if I'm doing something wrong. I see that the team is pretty responsive lately, so appreciate any guidance or insight.

My goal is to be able to implement some custom recognizers and deploy them to AKS cloud. I've deployed Presidio successfully to AKS, and now I'm trying to figure out how I can get m

[2020-12-28 11:16] omri374 commented on #389
Hi @fearghal, If you have your own docker containers with a custom logic, you would have to use your own container registry as you will not be able to push your containers to the presidio container registry. See [Azure Container Registry](https://azure.microsoft.com/en-us/services/container-registry/).

Try replacing `presidio.azurecr.io` with your own container registry and see if this works.

We

[2020-12-28 21:18] fearghal commented on #389
Hi @omri374 - thanks for taking the time to reply.

I belatedly saw the note in Makefile about using your own container registry.
# To use docker-build, you need to have Docker installed and configured. You should also set
# DOCKER_REGISTRY to your own personal registry if you are not pushing to the official upstream.

This makes sense. I did set up my own personal container registry and set the D

[2020-12-31 13:50] omri374 commented on #389
Hi @fearghal

In our CI pipeline there are two variables: REGISTRY and REGISTRY_NAME. You should put your ACR address on REGISTRY_NAME and your service principal in REGISTRY. This will in turn run the makefile with your private registry instead of presidio.azurecr.io.

CI pipeline: https://github.com/microsoft/presidio/blob/master/pipelines/CI-presidio.yaml

It's also possible to build the deps lo

[2021-01-02 15:43] fearghal commented on #389
Thanks @omri374, appreciate your feedback.

I eventually got a successful build in Azure pipelines thanks to your help.

You were right that I had to set the REGISTRY and REGISTRY_NAME variables for my own container registry (hosted on Azure) as you suggested. It took me a little while to figure out how to set up the service connection in Azure so that it could connect my container registry. In th

[2021-01-02 15:43] #389 closed

[2021-01-03 20:40] omri374 commented on #386
As mentioned above, pyre2 is indeed not mandatory. We will be removing it in the next version. For those interested in a workaround, just skip the installation of `pyre2` and Presidio will use `regex` as fallback.

[2021-01-06 10:11] omri374 commented on #382
FYI, this is going to be fixed in V2

[2021-01-06 10:12] omri374 commented on #383
FYI, the plan for V2 is to have a python based anonymizer.

[2021-01-06 10:14] omri374 commented on #364
FYI, this is going to be fixed in V2

[2021-01-06 10:15] omri374 commented on #303
Fixed in #312

[2021-01-06 10:17] omri374 commented on #227
Fixed in #312

[2021-01-06 10:18] omri374 commented on #295
#292

[2021-01-06 10:19] omri374 commented on #326
Deprecating Go in V2

[2021-01-06 11:41] deepanshug commented on #383
Thanks Omri for confirming. Looking forward to use it

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Omri Mendels <notifications@github.com>
Sent: Wednesday, January 6, 2021 3:43:08 PM
To: microsoft/presidio <presidio@noreply.github.com>
Cc: deepanshug <garg.deepanshu15@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [microsoft/presidio] presidio

[2021-01-14 08:42] omri374 commented on #382
Fixed in #392

[2021-01-14 08:43] #382 closed

[2021-02-04 09:12] shridhardamle commented on #362
Appears to be fixed in demo https://presidio-demo.azurewebsites.net/

[2021-02-04 09:19] omri374 commented on #386
Fixed in #467

[2021-02-04 09:19] #386 closed

[2021-02-04 09:20] omri374 commented on #372
Fixed in V2

[2021-02-04 09:20] omri374 commented on #372
#469

[2021-02-08 10:36] jay58 opened #492 "Deploy presidio to Heroku"
When trying to deploy docker images from "mcr.microsoft.com" to Heroku facing issues.

Getting this error:
<img width="1199" alt="Heroku Logs" src="https://user-images.githubusercontent.com/18693532/107208492-ad60c080-6a27-11eb-812a-fdc154374622.png">

[2021-02-11 21:41] omri374 commented on #492
Hi @jay58,
We are very close to releasing a new set of containers. While they are still WIP, you can check out the [V2 branch](https://github.com/microsoft/presidio/tree/V2). This branch will replace the master branch in a few weeks from now.
If you'd like to try it out (**still in alpha!**), you can download the `v2-latest` tag from Dockerhub:
[code]

The `presidio-api` image has been deprecated,

[2021-02-11 21:44] omri374 commented on #383
FYI, the `presidio-anonymizer` package/service in python is now available in alpha.
Using pip:
[code]

From Dockerhub:
[code]

[Initial documentation for the V2 anonymizer](https://github.com/microsoft/presidio/blob/V2/presidio-anonymizer/README.MD)

Any feedback is highly appreciated.

[2021-03-01 21:31] #383 closed

[2021-03-01 21:31] omri374 commented on #379
Fixed in version 2.0.0, please try again.

[2021-03-01 21:31] #379 closed

[2021-03-01 21:32] #372 closed

[2021-03-01 21:35] omri374 commented on #357
FYI, in version 2.0.0 we have new sample deployments into Kind and K8S:
https://microsoft.github.io/presidio/samples/deployments/k8s/

[2021-03-01 21:36] omri374 commented on #353
For version 2.0.0 please see
https://microsoft.github.io/presidio/analyzer/adding_recognizers/

[2021-03-01 21:36] #353 closed

[2021-03-01 21:36] omri374 commented on #342
Closing as Go services are no longer supported.

[2021-03-01 21:36] #342 closed

[2021-03-01 21:38] omri374 commented on #492
@jay58 please try with the new set of containers in version 2.0.0

For a similar deployment into Azure App Service, see this doc:
https://microsoft.github.io/presidio/samples/deployments/app-service/

[2021-03-01 21:38] #492 closed

[2021-03-01 21:40] omri374 commented on #380
Please try with the updated docs for Presidio version 2.0.0:

https://microsoft.github.io/presidio/samples/docker/

[2021-03-01 21:40] #380 closed

[2021-03-01 21:40] omri374 commented on #378
Fixed in version 2.0.0. grpcio is no longer a dependency

[2021-03-01 21:40] #378 closed

[2021-03-01 21:41] omri374 commented on #362
Fixed in v2.0.0

[2021-03-01 21:41] #362 closed

[2021-03-02 01:53] deepanshug commented on #383
Thanks for the update.

________________________________
From: Omri Mendels <notifications@github.com>
Sent: Tuesday, March 2, 2021 3:01:23 AM
To: microsoft/presidio <presidio@noreply.github.com>
Cc: deepanshug <garg.deepanshu15@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [microsoft/presidio] presidio anonymizer for python (#383)

Closed #383<https://github.com/microsoft/presid

[2021-03-02 08:13] m0canu1 opened #583 "SpaCy 3.0 support and installation error of version 2.3"
I got a lot of issues when installing presidio_analyzer via pip because of the 2.3 version of SpaCy.

It would be nice to add the support to the newest SpaCy version.

[2021-03-02 19:05] omri374 commented on #583
Hi @m0canu1, we are looking into spacy 3.0 but an upgrade is not planned in the near future. Any contribution is mostly welcome.

What kind of issues are you facing?

[2021-03-03 04:55] jhorowitz opened #590 "Running a slightly modified version of the demo code results in an error"
**Describe the bug**
Running into an AttributeError in what appears to be a trivial case. Perhaps I'm doing something wrong?

**To Reproduce**

[This colab reproduces the issue](https://colab.research.google.com/drive/1FmzrHkJV7uno5EIiFrQu6amNglVyx0Nj?usp=sharing) if the error below isn't enough.

Code:
[code]

Output:

[code]

[2021-03-03 12:00] hkarakose commented on #590
I have the problem too. Can we rollback to a previous version to get rid of the problem until bug fix has been released?

[2021-03-03 13:38] omri374 commented on #590
Hi, we are working on a fix. A workaround:

[code]

This is just a workaround until we fix the issue.

[2021-03-03 22:03] jhorowitz commented on #590
I've tested the workaround and can confirm it works as expected

[2021-03-04 05:25] omri374 commented on #590
Great. We already have a fix on the main branch which will be released today.

[2021-03-04 09:56] m0canu1 commented on #583
Hi @omri374,

I get a lot of lines of error while trying to install it.

So i tried to install SpaCy 2.3.0 manually and, at the end of the error lines, I get:

`ERROR: Could not find a version that satisfies the requirement spacy==2.3.0
ERROR: No matching distribution found for spacy==2.3.0`

[2021-03-04 11:16] navalev commented on #583
Hi @m0canu1 , presidio is currently support python 3.6 3.7 and 3.8. Can you please try with one of the supported version?

[2021-03-04 19:16] omri374 commented on #590
Fixed in version 2.0.1

[2021-03-04 19:16] #590 closed

[2021-03-04 20:39] jhorowitz commented on #590
That was so fast! Thank you very much

[2021-03-05 20:34] EstebanTrujilloKriptos opened #597 "How can I add Presidio-Analyzer Results as an input to Presidio-Anonymizer?"
Hi everyone!

I've been testing presidio and I have one question regarding the integration of presidio-analyzer with presidio-anonymizer.
When I run presidio-analyzer, the result is the following:

`results_analyzer_list = [type: PHONE_NUMBER, start: 19, end: 31, score: 0.85]`

What I want is to pass this result as an input to presidio-anonymizer. The normal way of doing is as following (manually

[2021-03-05 21:07] omri374 commented on #597
Hi @EstebanTrujilloKriptos,
Just checking, are you using version 2.0.1 or above? We fixed a bug on the integration of the analyzer and anonymizer. Results from the analyzer can directly pass into the anonymizer.

[2021-03-06 07:25] rickgoud opened #598 "How to run 'ad-hoc' regex patterns or word lists in v2?"
We are using presidio to let different users define different 'triggers' to classify sensitive data 'n the fly' without having to program. With v2, this not seems possible anymore? Or how is this intended?
I understand you want to go stateless, but should be easy to let the parameters that previously where part of the post to create a pattern, now be a parameter in the get where then on the fly pa

[2021-03-07 08:32] omri374 commented on #598
Hi @rickgoud,
Thanks for making us aware of your issue. We are currently looking into re-introducing this capability in V2.
V2 is planned to grow iteratively, and this component is one of the highest priorities.
If you, or anyone else from the community, would like to contribute to this effort, please reach out to us at presidio@microsoft.com and we can discuss this further.

Some clarification on

[2021-03-07 09:27] rickgoud commented on #598
Hi @omri374 ,

Thanks for the response! Do you have any ETA for adding this feature? Would be really a waste if that would limit people migrating to v2. If you let the users handle persistency by adding the required analyzers as parameters in the GET, presidio would not need a datastore (which you suggest in #584 ), right? That should make implementation much easier (large part can be copies from

[2021-03-07 10:57] omri374 commented on #598
Hi @rickgoud
I'd like to make sure I understand what you mean by "If you let the users handle persistency by adding the required analyzers as parameters in the GET, presidio would not need a datastore".

Do you propose to add those regex patterns / deny-lists as part of the "analyze" request? So that I would not only send the text for analysis and the language, but also the actual patterns / lists

[2021-03-07 11:04] rickgoud commented on #598
Hi @omri374 ,

Apologies for the unclarity. Indeed that is what I mean. I understand you want presidio to be stateless for scalability, which makes total sense. That would be possible if users can indeed add patterns in the analyze request, right?

Regards,
Rick

[2021-03-07 13:11] olivierpaling commented on #598
Having the ability to have simple regex patterns / deny lists as part of the 'analyze request'  would be a great addition indeed for v2!

[2021-03-08 06:36] kvrameshreddy opened #600 "How to identify PII columns in a DataFrame."
While identifying and  anonymizing on text data presidio works wonderfully. Can we use the same methodology to identify PII columns in a Dataframe.

Thankyou.

[2021-03-08 08:52] omri374 commented on #600
Hi @kvrameshreddy,
We have a draft suggestion for this on this PR: https://github.com/microsoft/presidio/pull/436
The idea is to call the `analyze` method in batch. See this line for the specific method you could use:
https://github.com/microsoft/presidio/blob/c0b5dcf3320b281b78a01c9f012a15d47f5adf1c/presidio-analyzer/presidio_analyzer/analyzer_engine.py#L164

Would be happy to hear what you think

[2021-03-08 10:59] sjoerd-dijkstra commented on #598
It would indeed be a nice feature of `v2` to be able to use 'custom recognizers' without having to change code and/or restart the analyzer application. To be able to dynamically do this in each `POST /analyze` request sounds nice! 😊

[2021-03-08 11:18] kvrameshreddy commented on #600
Hi @omri374,
"analyze_batch" will solve my problem. When can i expect the PR get merged in main branch.

And what if we have a "int" column in the DataFrame, How that column will be processed in this. Can you suggest any idea how to deal with this scenario.

Thankyou.

[2021-03-08 11:41] omri374 commented on #600
Hi @krameshreddy, this is still evolving and we're trying to better understand the requirements around this, so I don't have a final answer on when this will be part of the package.

The interface here lets you choose which columns you'd like to run this on. We'd be happy to hear more about your use case and how would you envision such a feature to look like. Adding @willsthompson as well who was

[2021-03-08 11:53] kvrameshreddy commented on #600
Thanks for the reply @omri374.

My use case is to identify semantic data types(PII Data types Majorly ) of a Data frame based on their column values.
The Data frame may consist of columns with strings like names, countries and all the PII data and columns with integers like age, weight etc., I am thinking like if we pass a Data frame as input the model should return a list of column types(recogniz

[2021-03-08 13:31] SharonHart opened #602 "Docker containers randomly killed when running Presidio container cluster"
Presidio containers, especially running together in the docker-compose cluster, might consume too much resources, triggering an automatic kill signal.
I found it happening exclusively on Mac, due to the default resource allocation for 'Docker for Mac'.
To fix it, increase memory limit in docker for mac from 2GB to 8GB , as suggested [here](https://stackoverflow.com/a/50770267)

[2021-03-08 13:31] #602 closed

[2021-03-09 00:41] csyzhang opened #603 "combination of mulitple identities with proximity"
I played presidio a bit today and it's pretty cool. I am wondering if I want to detect multiple identities within a given distance instead of single identity. what's the best practice to implement this? For example, if I want to detect any match of PERSON and Drivers License in a distance of at most 1000 characters, should I create a new recognizer and analyze the (start, end) output of each Perso

[2021-03-09 13:27] omri374 commented on #603
Hi @csyzhang, thanks for the feedback.

How about using the returned index values to perform the proximity detection? Presidio analyzer would return a list of `RecognizerResult`([source](https://github.com/microsoft/presidio/blob/main/presidio-analyzer/presidio_analyzer/recognizer_result.py)), each containing the start and end of the entity, as well as the detecting confidence (score). Leveraging

[2021-03-09 15:54] EstebanTrujilloKriptos commented on #597
Thanks for the response @omri374
Could you please leave an example of how to do it?

[2021-03-09 21:17] csyzhang commented on #603
@omri374 , yeah, totally make sense. I also think the same way. It'd be great if we can generalize the second level analyzer for post-processing. :)

[2021-03-09 22:02] #597 closed

[2021-03-09 22:03] omri374 commented on #603
Thanks @csyzhang. We'll look into this and see if others have similar requirements. Closing the issue for now, feel free to re-open if you have additional questions or wish to re-discuss this.

[2021-03-09 22:03] #603 closed

[2021-03-11 11:55] rickgoud commented on #598
Hi @omri374 ; Anything you can share on if/when this issue gets picked-up? Apparently more people excitingly waiting for this! :). Also the context words in v1 were awesome!

[2021-03-12 14:39] kvrameshreddy opened #606 "How to add Custom Recognizer using patterns"
Hi ,
How to add custom Recognizer using regex pattern. Please provide a example same as custom recognizer using deny_list.
when I try to pass a regex pattern in PatternRecognizer i am getting error as
"
  File "C:\Users\admin\anaconda3\envs\presidio\lib\site-packages\presidio_analyzer\pattern_recognizer.py", line 182, in __analyze_patterns
    matches = re.finditer(pattern.regex, text, flags=flags

[2021-03-12 20:07] cohsieh23 opened #607 "Location recognition fails with context"
**Describe the bug**
When I add context words nearby Locations, such as State, University, Institute, the location recognizer fails to detect as a location.

**To Reproduce**
Steps to reproduce the behavior:
I've tried using AnalyzerEngine on text phrases comparing locations vs universities with the same name, such as:
Florida vs University of Florida
Ohio vs. Ohio State
Massachusetts vs Massachus

[2021-03-12 21:05] willsthompson commented on #600
This is a good question. I think under @omri374's plan to use JSON for processing batch, it could potentially be handled as the [JSON Number type](https://tools.ietf.org/html/rfc7159#section-6). However, maybe for simplicity it would be better to assume everything is a string. I can see how having native numerical values might be helpful if you want to look for patterns that manifest statistically

[2021-03-14 08:29] navalev commented on #583
Hi @m0canu1 , Closing the issue for now, feel free to re-open if there is still an issue

[2021-03-14 08:29] #583 closed

[2021-03-14 09:43] navalev commented on #371
Hi @fd98279, we recently released a new version of presidio (aka V2) https://github.com/microsoft/presidio/discussions/584, also includes an update to the k8s deployment sample. Could u check if this is still an issue for you?

[2021-03-14 09:52] navalev commented on #606
Hi @kvrameshreddy, a sample for a regex based PII recognizer can be found in the presidio documentation https://github.com/microsoft/presidio/blob/main/docs/samples/python/customizing_presidio_analyzer.ipynb
Please let us know if you still face any issues

[2021-03-14 10:24] navalev commented on #607
Thank you @cohsieh23, issue is logged and we will follow up on it

[2021-03-15 05:11] kvrameshreddy commented on #606
Thanks @navalev. Will check it out and open the issue if i face any problem.

[2021-03-15 05:11] #606 closed

[2021-03-15 09:40] omri374 commented on #607
Hi @cohsieh23, thanks for your issue.

Currently, only the pattern based recognizers leverage context words. For NER based recognizer (Person, location and others), the assumption is that the NER model would be using context words as part of the recognition process.

The provided NER model (spaCy en_core_web_lg) has around 85% F1 score on these entities. There are more accurate models out there wh

[2021-03-15 16:38] omri374 commented on #366
Hi @devesh23, not sure if this is still relevant, but we have released a new image redactor written in Python. It might be easier to tweak it to return a json instead of the redacted image.

[2021-03-18 15:10] v1nc3n4 opened #621 "Invalid content type 'text/html' in response after calling analyzer endpoint"
Hi,

**Describe the bug**
I'm using the Docker image of the analyzer `mcr.microsoft.com/presidio-analyzer:latest`.
When analyzing a text with the REST API on default port 3000, the HTTP response has an unexpected content type `text/html`, which leads to failure when decoding the payload with libraries such as Spring WebClient.

**To Reproduce**

1. Send request

[code]

2. Response received

[code

[2021-03-21 07:54] navalev commented on #621
thanks you @v1nc3n4. issue is logged and we will follow up on it

[2021-03-21 16:00] navalev commented on #304
@ammills01 We recently released the new version on presidio V2, whcih includes updates to the deployment samples https://github.com/microsoft/presidio/tree/main/docs/samples/deployments
This issue will be closed. Feel free to re-open in case this is not resolved.

[2021-03-21 16:00] #304 closed

[2021-03-21 16:01] navalev commented on #357
@aseemsethi We recently released the new version on presidio V2, whcih includes updates to the deployment samples https://github.com/microsoft/presidio/tree/main/docs/samples/deployments
This issue will be closed. Feel free to re-open in case this is not resolved.

[2021-03-21 16:01] #357 closed

[2021-03-21 16:02] navalev commented on #371
@fd98279  We recently released the new version on presidio V2, whcih includes updates to the deployment samples https://github.com/microsoft/presidio/tree/main/docs/samples/deployments
This issue will be closed. Feel free to re-open in case this is not resolved.

[2021-03-21 16:02] #371 closed

[2021-03-22 08:18] navalev commented on #364
Hi @leomehr-lumos this issue was resolved in the latest release (V2). I will close this issue, but please re-open if you still face a problem

[2021-03-22 08:18] #364 closed

[2021-03-22 13:25] #621 closed

[2021-03-22 13:27] navalev commented on #621
@v1nc3n4 issue is resolved in #626

[2021-03-22 13:47] v1nc3n4 commented on #621
Hi,
Thanks for your reactive support!
Best regards

[2021-03-22 13:57] lucazav opened #631 "Installing presidio_analyzer requires Visual C++ Build Tools?"
I'm installing the analyzer in a conda environment with Python 3.9.1 on a Windows 10 x64 machine. I'm using the following code:

`pip install presidio_analyzer`

I'm getting an error saying:

But I didn't find any instruction in the README saying I need to install the Visual C++ build tools.
Then I installed the build tools removing all the optional features, but I get the same error. Do I need al

[2021-03-22 14:30] SharonHart commented on #631
Hi @lucazav.
I think this is coming from spacy not having wheels for python 3.9 on the version we are using in Presidio.
We formally support python versions 3.6 to 3.8 (will be added to our documentation website soon).
Thanks, Sharon

[2021-03-22 14:52] lucazav commented on #631
Hi @SharonHart ,

thank you for your feedback.

Any hint to make it work on Python 3.9.1?
Do I need to install also Visual C++ Build Tools optional features?

Thanks.

[2021-03-22 15:45] SharonHart commented on #631
@la

@lucazav For version 3.8, it should work without you installing the build tools. Haven't tested installing on 3.9.1 yet, but you might encounter other issues other than this one.
Thanks, Sharon

[2021-03-22 16:03] lucazav commented on #631
Ok,

any chance to make it compatible also with Python 3.9?
If yes, any idea about when it'll be available?

Thank you so much.

[2021-03-22 16:44] navalev commented on #631
@lucazav supporting python 3.9 is in our backlog, no ETA currently.

[2021-03-23 14:14] lucazav opened #633 "Anonymizing multiple emails with Faker in a text message"
Hi,

I'm trying to anonymize emails using Faker. All is ok if in my text there is only one email address. If it contains multiple email addresses, the same fake email is used multiple times. Here the code I'm using:

[code]

The output is:

How can I change the `AnonymizerConfig` in order to generate a fake email address for each one found into the string?

Thanks.

[2021-03-23 17:32] efung commented on #633
One way you could extend Presidio is by allowing the `AnonymizerConfig` objects to take lambda functions, not just static strings.

Here's a diff that implements the idea:

[code]

and here's how you would call it:

[code]

[2021-03-23 17:37] navalev commented on #633
thank you @efung for suggesting this. @lucazav you can also create a new type of Anonymizer, instead of modifing the Replace anonymizer (in case that funtionalty will still be needed).

[2021-03-23 17:41] lucazav commented on #633
Hi @navalev ,

sure, I could create a new Anonimizer. But it would be really useful to allow AnonymizerConfig to take lambda functions out-of-the-box.

[2021-03-23 17:47] navalev commented on #633
Seems like a useful feature @lucazav! we welcome community contributions :)

[2021-03-23 17:52] lucazav commented on #633
I'd like to contribute, @navalev. Unfortunately I'm not a master Pythonista. I'm just a data analyst :(

[2021-03-23 17:55] navalev commented on #633
@lucazav this was added to our backlog - thanks for suggesting this feature!

[2021-03-23 17:59] efung commented on #633
Great, thank you! We coincidentally needed this functionality today as well, which is why I spent some time to figure out how to do it.

[2021-03-23 19:16] rickgoud commented on #598
@omri374, any updates/progress? Would be great!

[2021-03-23 19:17] efung opened #635 "Intervening whitespace affects recognition of PERSON vs EMAIL_ADDRESS"
**Describe the bug**
I discovered that whitespace within the input affects whether an email address can be detected. It was surprising to me, but maybe consistent with the default decision logic in Presidio.

**To Reproduce**
With the input of `Chris Singh - chrissingh@msn.com`, Presidio reports a PERSON entity for the entire span of the input (including the email address, which it also separately

[2021-03-24 08:19] omri374 commented on #598
Hi @rickgoud. Unfortunately I don't have an ETA for this. If you or any one else would be interested in contributing the stateless approach you mentioned in this issue, I would be happy to help with design, review or anything else needed. Feel free to reach out to presidio@microsoft.com.

[2021-03-24 15:38] navalev commented on #635
Thank you @efung , issue is logged and we will follow up on it

[2021-03-24 15:46] smirachowdhary opened #637 "Installation error"
**Describe the bug**
Hello. I am trying to install presidio on my Windows 10 PC. I followed instructions listed at
https://microsoft.github.io/presidio/installation/

I had to install VS build tools. After installing and re-starting my machine, I still get the error below.

**To Reproduce**
pip install presidio_analyzer
pip install presidio_anonymizer

# Presidio analyzer requires a spaCy language

[2021-03-24 16:00] efung opened #638 "Incorrect regex in UsPhoneRecognizer matches "ddd-343-\dddd""
**Describe the bug**
While trying to implement my own phone recognizer, I was studying the patterns in `UsPhoneRecognizer` and noticed that the `Phone (strong)` pattern has a few typos. It causes the recognizer to return a score of 0.7 on the input `ddd-343-\dddd`

In addition, a number such as `212-555-1212` is recognized as a phone number with only a score of 0.5, which is arguably too low.

**T

[2021-03-24 16:02] navalev commented on #637
Hi @smirachowdhary. Presidio currently supports python 3.6 3.7 and 3.8. from the output you shared seemsthat you are using python 3.9. Could you test this out with any of the supported versions?

[2021-03-24 20:40] omri374 commented on #638
Thanks @efung! Would you be interested in creating a PR with a fix?

[2021-03-24 20:46] efung commented on #638
Sure.  Can you comment on what conceptually is represented by the strong vs medium regexes?  Which pattern should match when the input contains a number like `201-555-1212`?

Also, do you need a signed contributor license agreement or anything like that?

[2021-03-25 00:44] smirachowdhary commented on #637
Thank you @navalev. I did install 3.8 and now it works :-). I am student trying to use your python library for PII detection in messages.

[2021-03-25 07:15] #637 closed

[2021-03-25 08:15] navalev commented on #638
Hi @efung, most contributions require you to agree to a Contributor License Agreement (CLA) declaring that you have the right to, and actually do, grant us the rights to use your contribution. For details, visit https://cla.microsoft.com.
When you submit a pull request, a CLA-bot will automatically determine whether you need to provide a CLA

[2021-03-25 13:30] kubistika opened #645 "Image anonymization is slow"
Hi,

First of all, thank you guys for making this awesome project :)

I wanted to ask if there are any ways to improve image anonymization performance. I'm using Presidio as a python package and it takes about 5~ seconds to process pretty small images. I'm using the example code from the Presidio docs.

[2021-03-25 14:45] shiranr commented on #635
@efung It seems this issue is currently coming from spaCy and that's how it analyzes the different inputs.
We are currently using spaCy 2.3 with the en_core_web_lg model, but we are working on moving to spaCy 3 which supports more advanced models based on transformers (like en_core_web_trf).
The models should be more accurate and hopefully will supply the results you are after.

[2021-03-26 14:33] efung commented on #633
Another benefit of allowing lambdas (that are passed the input to be replaced, redacted, etc.) is that the function can examine the input.

For example, if the detected entity was a `<NAME>`, the function can see if it has one word (maybe just a first or last name) or more than one word (a full name). The replacement can then try to match the format of the original, maybe trying to match the case

[2021-04-03 19:16] omri374 commented on #645
Hi @kubistika, thanks for your issue.
This is indeed a bug. the `AnalyzerEngine` instance used in the presidio-image-redactor is initialized on every request, which takes a few seconds. If you or anyone is interested in fixing it, that would be great. If not, we'll get to it soon.

[2021-04-03 19:54] kubistika commented on #645
Hi @omri374, thanks for you reply. I submitted a pull request.

[2021-04-04 08:29] #631 closed

[2021-04-04 13:11] #645 closed

[2021-04-04 13:17] navalev commented on #645
@kubistika issue was closed after your PR was merged - thanks for contributing! if there's still an issue, feel free to reopen this one, or open a new issue

[2021-04-06 17:01] chickenPopcorn opened #655 "Error running on Spark"
**Describe the bug**
When I try to reproduce the example below locally on my machine (not using databrick spark). It raises error
https://github.com/microsoft/presidio/blob/2.1.0/docs/samples/deployments/spark/presidio_anonymize_blobs.py#L84:L107

**To Reproduce**
[code]

Steps to reproduce the behavior:
[code]

error
[code]

**Expected behavior**
anonymizer the text in the dataframe

**Screenshot

[2021-04-07 06:19] navalev commented on #655
Thank you @chickenPopcorn , issue is logged and we will follow up on it

[2021-04-07 12:35] navalev commented on #638
Resolved in #658. Closing this issue

[2021-04-07 12:35] #638 closed

[2021-04-07 12:55] SharonHart commented on #635
@efung
I can confirm that the name is recognized, without the email, up until the hyphen, with 'en_core_web_trf'.
Changing this to be the default model, however, will increase the docker image size drastically, so we do not want to set it by default at this time.
With the upgrade to spacy 3, in the upcoming days, you will be able to [use this model in your implantation](https://microsoft.github.io

[2021-04-07 13:53] #635 closed

[2021-04-10 11:39] detwizard opened #660 "Spacey package versions have conflicting dependencies"
**Describe the bug**
pip installing presidio-image-redactor won't install due to conflicting dependencies, I have tried in a new environment also.
Which i thought was strange as you have upgraded the spacey version in your code a few days ago.

Message:
ERROR: Cannot install presidio-image-redactor because these package versions have conflicting dependencies.

The conflict is caused by:
    presid

[2021-04-10 17:51] omri374 commented on #660
Hi @detwizard, thanks for your issue. We will be releasing new versions on Monday so these issues should be resolved after the release

[2021-04-11 07:37] SharonHart commented on #660
@detwizard Can you please specify the python and pip versions you are using?
Also by 'new environment' you meant virtualenv right?

[2021-04-11 10:10] detwizard commented on #660
Hi, V21.0.1 for pip and 3.9 for python, but i have tried on v3.7 as well.
correct yeah i mean pipenv

[2021-04-12 06:30] balteravishay commented on #655
I verified that there is an issue with the script (the API of anonymizer result changed and the returned property should be anonymized_results.text), however the original error described by @chickenPopcorn is caused by spark version API changes.

The sample code was written for databricks runtime 8.1, which runs spark 3.1.1 and the dependencies listed [here](https://docs.microsoft.com/en-us/azure/

[2021-04-12 08:15] #655 closed

[2021-04-12 10:28] SharonHart commented on #660
@detwizard
We've released a new version for presidio-analyzer with an updated version of spacy.
It might resolved you issue, I can't tell for sure since I haven't been able to reproduce your issue.
Would be happy if you'll try and let us know.

[2021-04-15 18:10] detwizard commented on #660
This has fixed the issue! thank you

[2021-04-15 18:10] #660 closed

[2021-04-19 05:55] omri374 opened #670 "Using Presidio in Spark/Databricks"
Hello,

I've been trying to use the analyzer in pyspark. My idea is to apply presidio analyzer on a spark dataframe that has file paths(50000 ".txt" files from IMDB reviews dataset found in Kaggle) and their contents. I was able to create the dataframe(50000 x 2). It looks like this:
![image](https://user-images.githubusercontent.com/29379863/115030769-16abf680-9ee5-11eb-922c-96b1ac529f4d.png)

No

[2021-04-19 05:56] omri374 commented on #670
There is an issue with serializing the `en_core_web_lg` spaCy model used by presidio, therefore the sample initializes the model on every request which isn't optimal. Worth checking if the new `en_core_web_trf` model behaves better on Spark.

[2021-04-20 16:56] omri374 commented on #670
Fixed in #672

[2021-04-20 16:56] #670 closed

[2021-04-21 13:07] alazraq opened #673 "Outdated import in python sample `presidio_notebook.ipynb`"
- **Problem:** In the `presidio_notebook.ipynb` notebook under `docs\samples\python`, the following import statement is not used and does not work: `from presidio_anonymizer.entities import AnonymizerConfig`.
- **Solution:** This import statement should be replaced by `from presidio_anonymizer.entities.engine import OperatorConfig` which is used in the last cell.

[2021-04-21 14:02] omri374 commented on #673
Hi @alazraq, thanks for your issue! Would you like to contribute a fix?

[2021-04-22 17:30] omri374 commented on #598
Hi, please see PR #677

[2021-04-22 17:33] rickgoud commented on #598
You are a rockstar @omri374!!
With this commit up to part with v1? Are there still some 'ToDo's' on your list? Specific things you would like to have feedback on?

Looking forward to giving it a spin!!

[2021-04-22 19:12] omri374 commented on #598
Thanks @rickgoud! This is still WIP, pending merge and release.
As mentioned in this thread, this is not 100% in par with V1 as there is no state involved. Every ad-hoc recognizer would have to be attached to every request to the /analyze service. If you have a long list of ad-hoc recognizers, or a long list of strings in your deny list, for example, this payload could start becoming pretty large.

[2021-04-22 19:27] olivierpaling commented on #598
Nice! Great effort @omri374 ! This MR includes ad-hoc recognizers for patterns and denylist, is the contexphrase extension also supported? Could not find a reference in the updated documentation. Thank you!

[2021-04-24 15:43] omri374 commented on #598
@olivierpaling should be! Good question, I will add tests to verify

[2021-04-26 09:25] alazraq commented on #673
Hello @omri374, I would love to. This is just a one-line change if you give me Contributor rights I can do the PR quickly.

[2021-04-27 20:14] omri374 commented on #673
@alazraq thanks! You can just fork the repo and create a PR from your fork

[2021-04-29 12:59] olivierpaling commented on #598
@omri374 great stuff! I was just testing your branch and noticed that when doing the /analyze POST without the 'entities' parameter, you get back all found recognizers including the add-hoc one. So far so good. If you define only the ad-hoc entity to narrow down the request it doesn't work. In the example I believe you use "US_DRIVER_LICENSE", "ZIP"] but if you only keep ZIP you get an error ["err

[2021-04-29 19:31] omri374 commented on #598
Hi @livierpaling! Thanks for the feedback, this is still work in progress. Let me check exactly and update here.

[2021-05-03 06:56] #673 closed

[2021-05-04 07:07] #633 closed

[2021-05-05 00:29] smirachowdhary opened #690 "Making PII not clear enough."
I am learning python. I was implementing your code to work for credit card, not phone numbers, which is the only thing shown. What do I do?

[2021-05-05 05:52] navalev commented on #690
Hi @smirachowdhary, presidio can detect a credit card entity, can u please share the code you are trying to execute?

[2021-05-05 07:18] #598 closed

[2021-05-06 08:49] sushilr007 opened #692 "WARNING:spacy:[W108] The rule-based lemmatizer did not find POS annotation for the token 'NM'."
**Describe the bug**
I am running following code and getting lot of warnings from Spacy. which slows down the processing.
[code]

`WARNING:spacy:[W108] The rule-based lemmatizer did not find POS annotation for the token 'NM'. Check that your pipeline includes components that assign token.pos, typically 'tagger'+'attribute_ruler' or 'morphologizer'.`

**Additional context**
*Versions of packages:*

[2021-05-06 09:38] omri374 commented on #692
Hi @sushilr007, thanks for your issue!
We are aware of this, and a PR was already merged to fix it (#682)

It will be updated on PyPI on our next release, early next week.

[2021-05-06 16:17] kmatt opened #693 "Remove DATE_TIME recognizer?"
The default anonymizer configuration replaces timestamps with '<DATE_TIME>', and in some cases I would like to keep these values (JSON data).

I don't see a specific recognizer loaded, and docs appear to indicate this is part of Presidio and not SpaCy? Can timestamps be ignored without my terrible hack below?

`analyser_results = [ r for r in analyzer.analyze(text = s, language = 'en') if r.entity

[2021-05-07 06:03] GLT-Dashboard opened #694 "Unable to use analyze_batch as a method"
Unable to use analyze_batch as a method

![pii](https://user-images.githubusercontent.com/77790174/117404664-55c3db00-aed8-11eb-822c-e692e8b875e7.PNG)

[2021-05-07 15:12] smirachowdhary commented on #690
Sure. Here:

text_to_anonymize = input("")

analyzer = AnalyzerEngine()
analyzer_results = analyzer.analyze(text=text_to_anonymize, entities=["PHONE_NUMBER"], language='en')

print(analyzer_results)

titles_recognizer = PatternRecognizer(supported_entity="TITLE",deny_list=["Mr.","Mrs.","Miss"])

analyzer.registry.add_recognizer(titles_recognizer)

analyzer_results = analyzer.analyze(text=text_to_a

[2021-05-09 06:27] navalev commented on #690
gald to hear :) closing this issue, feel free to reopen if needed

[2021-05-09 06:27] #690 closed

[2021-05-09 07:04] navalev commented on #694
Hi @GLT-Dashboard, the analyze_batch method is not part of the offical presidio release, and can be found in branch [omri374/batch_analyze](https://github.com/microsoft/presidio/tree/omri374/batch_analyze). You can build the presidio-anonymizer package from the branch to use the method.

[2021-05-09 08:11] navalev commented on #693
Hi @kmatt, the analyzer will looks for all builtin entities by default, unless given a specific list of entities to look for. A way to do what you ar looking for is to remove the DATE_TIME entity from the analyze request:

[code]

[2021-05-09 21:36] ckoppelman opened #698 "Please add to conda-forge"
Can a maintainer here please add presidio and the presidio_analyzer to [conda-forge](https://conda-forge.org/#add_recipe) so I can use it in my conda-based project?

Thanks!
Charles

(dupe of [this discussion](https://github.com/microsoft/presidio/discussions/697))

[2021-05-10 11:04] ZordoC opened #701 "Confidence score is always .85!"
Hello! First and foremost, I'd like to thank you for the release of v2! The python API is amazing, I've been waiting for this for a while now! The wait was worthwhile :-)

**Describe the bug**
I don't know if this is a bug or not, but every time I run the following snippet:

    from presidio_analyzer import AnalyzerEngine, RecognizerRegistry
    from presidio_analyzer.nlp_engine import NlpEngineP

[2021-05-10 14:36] navalev commented on #692
Hi @sushilr007, we just releaeed a new version to pypi, this issue should be resolved. Closing the issue, please re-open if needed

[2021-05-10 14:36] #692 closed

[2021-05-11 06:08] #694 closed

[2021-05-13 10:25] ZordoC commented on #701
Ah now I understood where that value was coming from, since I was just redacting "PERSON" entities, they must come from the spacy model hence the static .85 confidence score!
Thank you both for the explanation and fast reply! :-)

[2021-05-13 10:25] #701 closed

[2021-05-23 11:50] omri374 commented on #600
We've created some documentation on this matter here: https://github.com/microsoft/presidio/discussions/714
Please share any feedback you have on this.

[2021-05-25 00:13] rakan41 opened #718 "Defect - Image redactor occasionally creates an additional trailing bounding box"
**Describe the bug**
Image redactor occasionally creates an extra bounding box for the word following the PII text. This occurs when the PII text consists of more than one word and the preceding word is longer than the following word.
For example, in the image below, the name on first line is incorrectly redacted, whereas it is incorrectly redacted in the first line. Because "Jessica" is longer th

[2021-05-25 06:18] omri374 commented on #718
Thanks @rakan41. Any contribution would be greatly appreciated.

[2021-05-26 17:27] arnepeine opened #720 "Presidio demo source code"
Hello,

I was actually looking for an easy way to play around with Presidio locally.

Is the source code of the demo somewhere available?

Best regards!

[2021-05-27 11:52] navalev commented on #720
Hi @arnepeine , the demo site is not something that we plan to share.
If you would like to experiment with Presidio, you can run it locally with docker, as described here https://microsoft.github.io/presidio/installation/#using-docker or as a python package https://microsoft.github.io/presidio/installation.
An easy way to test out the APIs is using postman, and our documentation contains basic API

[2021-05-27 13:01] daniel-bub opened #721 "Azure Pipelines Variable Group"
Hi,

We want to setup an internal development pipeline based on the public presidio repository. For this we aim to use Azur DevOps and thus want to reuse the existing pipeline definitions.
Would it be possible to provide a description of the Variable Group, which is used within the pipeline? This would make an adoption easier.

BR Daniel

[2021-05-27 13:19] SharonHart commented on #721
Hi @daniel-bub!
The variable group, referred as 'Presidio-V2-CI' in the pipelines contains the following variables:

ACR_AZURE_SUBSCRIPTION
ACR_REGISTRY_NAME
ANALYZER_DEV_APP_NAME
ANALYZER_PROD_APP_NAME
ANONYMIZER_DEV_APP_NAME
ANONYMIZER_PROD_APP_NAME
IMAGE_REDACTOR_DEV_APP_NAME
IMAGE_REDACTOR_PROD_APP_NAME
DEV_AZURE_SUBSCRIPTION
DEV_RESOURCE_GROUP_NAME
PROD_AZURE_SUBSCRIPTION
PROD_RESOURCE_GROUP_

[2021-05-27 13:30] daniel-bub commented on #721
Thanks a lot for the quick reply. I haven't seen that part of the documentation. Good to know. Hopefully in the future Azure DevOps provides the ability to import variable groups via YAML templates. ;-)

[2021-05-27 13:30] #721 closed

[2021-05-30 15:03] omri374 commented on #720
Hi @arnepeine,
Here's a very simple script which creates a presidio demo site using [streamlit](https://streamlit.io/).

Once pip installing `streamlit`, `pandas`, `presidio-analyzer` and `presidio-anonymizer`, you should be able to run it.

### Code

[code]

### Running it
After saving it to a file, e.g. `app.py`, run the following script:
[code]
### Output
It should similar to this:
![image](htt

[2021-05-30 15:03] #720 closed

[2021-05-31 09:30] omri374 commented on #70
We've created some documentation on this matter here: #714
Please share any feedback you have on this.

[2021-05-31 09:33] omri374 commented on #607
Closing this issue. Feel free to reopen if you have any additional questions or feedback.

[2021-05-31 09:33] #607 closed

[2021-05-31 13:08] SharonHart commented on #295
Can be closed as TA integration sample was added.

[2021-05-31 13:08] #295 closed

[2021-06-09 02:27] smirachowdhary opened #730 "PII detection for dates not working"
I would like to report a bug. In the example below, I try to see if 3/3/2021 (date) is PII detected, its not, though its supposed to be. I have also tried with quite a few different dates.

Here is the code:

[code]

Here is PIIClass.py:
from presidio_analyzer import AnalyzerEngine, PatternRecognizer
from presidio_anonymizer import AnonymizerEngine
from presidio_anonymizer.entities import Anonymiz

[2021-06-09 09:28] SharonHart commented on #730
Hi @smirachowdhary,
We've introduced a new date recognizer in version 2.2.2, which we will release soon. Your expected dates should be recognized following this change.

[2021-06-09 09:28] #730 closed

[2021-06-09 15:47] smirachowdhary commented on #730
Thank you, @SharonHart. Can you please let me know the expected time frame for release of version 2.2.2.

[2021-06-09 23:46] smirachowdhary commented on #730
Okay! Thanks @SharonHart ! I'll do it now.

[2021-06-17 02:52] rakan41 commented on #718
Updated code so that the bounding box is incremented by the current word length, rather than the next word. Seems to have fixed the issue for the above sample.
![image](https://user-images.githubusercontent.com/44086695/122323708-dc091d80-cf6a-11eb-91bd-7d1a4f3cad32.png)

[2021-06-17 02:58] rakan41 commented on #718
Note the following changes after code change:

1. "lives" on first line no longer is redacted.
2. "London" is now redacted on second line.
Both of these changes are expected behaviour.

[2021-06-21 14:32] ckoppelman commented on #698
Is there a timeline for this?

[2021-06-25 08:18] RoboBuffalo opened #737 "Errors on K8S"
Hi there,
While I was deploying via docker image on k8s after container was running ran into below issue:
![image](https://user-images.githubusercontent.com/40163504/123393700-a2559980-d59e-11eb-8de7-daa7c5a7f529.png)

[2021-06-27 06:14] omri374 commented on #737
Hi @RoboBuffalo, have you deployed Presidio to k8s using the provided samples? Could you please provide a reproducible example?

[2021-06-27 12:07] RoboBuffalo commented on #737
Thanks for your prompt response :)
I think as we're using istio in our k8s cluster ,It's hard to use samples.
In other hand for security policies I have to pull the image from hub and push it into internal image registry.

[2021-06-28 09:03] okpatil4u commented on #42
Hi there, I am having troubles recognizing address. Could you please point me to the commit where the address recognizer is added ?

[2021-06-28 12:55] navalev commented on #737
@RoboBuffalo what image are you trying to deploy? analyzer or anonymizer?
Are you pulling the image from dockerhub or building it yourself?

[2021-06-28 13:03] navalev commented on #42
Hi @okpatil4u a list of all supported entities can be found here https://microsoft.github.io/presidio/supported_entities/#list-of-supported-entities
What issue are you facing, could you please provide an example?

[2021-06-30 09:34] RoboBuffalo commented on #737
I'm pulling Analyzer from mcr.microsoft.com

[2021-06-30 14:30] SharonHart commented on #737
@omri374 @navalev Not sure if its related, but pulling latest analyzer from MCR fetches a v1 version.

[2021-06-30 14:48] SharonHart commented on #737
@RoboBuffalo Can you share some more traces?
For example the whole output of command screenshot above (preferably with debug flag on)
Also share the output of `docker image inspect` on the image you're fetching to see that it's the correct one.

[2021-07-02 14:07] mprojlb opened #739 "Improve PatternRecognizer to respect multiple match groups"
PatternRecognizer treats complex match groups as one match group, this is not desirable behaviour. It would be preferable if all match groups were individually considered a match.

Example:
[code]
Output:
[code]

A simple change to `PatternRecognizer.__analyze_patterns` something like this should work:
From:
[code]
To:
[code]

[2021-07-05 11:48] omri374 commented on #739
Thanks @mprojlb, we'll look into this!

[2021-07-07 11:50] OlegBEZb opened #741 "faker SerializationError, RecursionError"
Good afternoon!

I was trying to reproduce [lambda functions with fake](https://github.com/microsoft/presidio/blob/main/docs/samples/python/example_custom_lambda_anonymizer.py) on [databricks](https://github.com/microsoft/presidio/blob/main/docs/samples/deployments/spark/notebooks/01_transform_presidio.py).

I have added several pattern recognizers, configured the model (it's another question why

[2021-07-08 11:41] omri374 commented on #741
Hi @OlegBEZb, the faker integration is a sample and not fully supported. It seems like the issue is with serializing faker objects, and not Presidio's. The integration into Presidio is mainly for generating a fake value for replacement instead of a constant one.

[2021-07-08 16:47] AkshayDube11 commented on #600
Hi Everyone,

Note: I am writing on this thread as my queries are in line with it.

I have two queries in continuation with the above-mentioned discussion:

1. How to use presidio with columns of dataframes having free text, also with a dataframe as a whole? My primary objective.
2. Can we set score_thresholds for different recognizers used? For Eg: How to have separate score_thresold values for e

[2021-07-09 08:38] AkshayDube11 opened #742 "Need Guidance! How to make presidio work with DataFrames with multiple columns having free text(with PII)."
Hi Everyone,

Note: I am writing on this thread as my queries are in line with it.

I have two queries in continuation with the above-mentioned discussion:

1. How to use presidio with columns of dataframes having free text, also with a dataframe as a whole? My primary objective.
2. Can we set score_thresholds for different recognizers used? For Eg: How to have separate score_thresold values for e

[2021-07-09 12:35] OlegBEZb commented on #741
Hi @omri374!)

After a deeper investigation, I concluded with the same idea - the problem is not on Presidio's side. I have opened an issue in the Faker repo https://github.com/joke2k/faker/issues/1479. I hope this may help people who will use Presidio with Faker together.

[2021-07-11 07:37] navalev commented on #741
thank you @OlegBEZb! Closing the issue for now.

[2021-07-11 07:37] #741 closed

[2021-07-11 07:39] navalev commented on #737
Hi @RoboBuffalo, could you update with some more logs on the issue you are facing?

[2021-07-13 13:42] omri374 commented on #742
Hi @AkshayDube11, we'll soon post a sample on how Presidio can be applied on structured data, such as Pandas DataFrames.

[2021-07-14 07:29] omri374 opened #743 "Ability to output the detected text"
### Discussed in https://github.com/microsoft/presidio/discussions/609

<div type='discussions-op-text'>

<sup>Originally posted by **cohsieh23** March 12, 2021</sup>
It would be nice to have the ability to get the text that is being detected.
Currently, I have to export the results to a dictionary, then use the start/end indices to pull out the text myself.</div>

[2021-07-14 07:32] omri374 commented on #742
Hi @AkshayDube11, while still in PR, you can already review the sample on #744

[2021-07-14 09:37] omri374 commented on #742
Link to sample: https://github.com/microsoft/presidio/blob/main/docs/samples/python/batch_processing.ipynb

[2021-07-14 09:37] omri374 commented on #742
Closing for now, please re-open if you have any questions.

[2021-07-15 06:29] omri374 commented on #743
Sample provided in #744

[2021-07-15 06:29] #743 closed

[2021-07-20 04:12] jiankebe opened #746 "how to analyzer cn phone eg: 18911192389 ?"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other c

[2021-07-20 07:46] #746 closed

[2021-07-20 07:46] jiankebe commented on #746
solve

[2021-07-20 19:27] omri374 commented on #746
Hi @jiankebe, posting an example here for others looking for a solution. The `PhoneRecognizer` class supports five regions by default: `("US", "UK", "DE", "FE", "IL")`. It is possible to either replace the default recognizer with a different one, or add an additional one in parallel to the existing one.

To create a new `PhoneRecognizer` looking for Chinese numbers, here's a code snippet:

[code]

[2021-07-20 19:41] omri374 commented on #739
Hey @mprojlb, thanks for this! Quick question: The first pattern should detect both "is" and " an". However on the proposed change the substring " an" is not detected. Same goes for the "with many" substring. Is this the expected behavior? Checking my understanding of the issue.

[2021-07-21 08:56] SharonHart commented on #739
@omri374 I think that 'an' is encapsulated in a non-capturing group (**?:** an)
In that case, the regex will match on 'an', but it will be excluded from the results

[2021-07-21 09:24] mprojlb commented on #739
As @SharonHart states groups that start `(?:` are non-capturing.

Here's a very good explanation of how non capturing groups work https://stackoverflow.com/a/3513858

[2021-07-21 09:28] SharonHart commented on #739
This looks like a valid addition!
So to summerize, the PatternRecognizer extracts matches, not match groups.
Adding it will move the decision of which substrings will be recognized to the supplier of the regex.
In your case, I can decide on extracting the legacy result with (string.*?words) or (string).*?(words) to apply groups

[2021-07-21 09:42] mprojlb commented on #739
Pretty much. Worth noting that with this change `(string.*?words)` would return the legacy result of one match of "string with many words" and `(string).*?(words)` would return two matches of "string" and "words".

My apologies, but I'm afraid I'm not interested in the Microsoft contribution guidelines and process. However, the code in the top post works as described and is sufficient for someone

[2021-07-22 08:39] AkshayDube11 commented on #742
Dear @omri374 & Team,

I found batch anonymization way very useful for anonymizing dataframe with some observations in the form of queries/doubts as mentioned below:

1. I tried to configure a multilingual NLP engine **"xx_ent_wiki_sm"**. It got configured but the BatchAnalyzer engine is throwing errors and is asking to install **"en_core_web_sm"** to anonymize my dataframe.

Error at CodeLine: **

[2021-07-22 08:52] omri374 commented on #742
Thanks @AkshayDube11, we'll look into this.

[2021-07-22 08:57] itaim opened #748 "anonymize strips spaces and newlines from text"
**Describe the bug**
Anonymizing text eliminates spaces and new lines.
For example this text:
[code]

Is parsed as:
[code]
As you can see the new lines and spaces were eliminated from between the persons making the text malformed.

**To Reproduce**
Code to reproduce:
[code]
**Expected behavior**
The text should maintain the spaces and newlines between entities

[2021-07-22 10:26] navalev commented on #748
thanks @itaim! we'll look into this. We always welcome contributions to code :)

[2021-07-23 14:32] bhushan-borole commented on #748
Hey @navalev
I would like to work on this issue.

[2021-07-25 05:13] navalev commented on #748
@bhushan-borole looking forward to your PR!

[2021-07-25 06:08] bhushan-borole commented on #748
@navalev Judging from the reproduced code, the issue will probably be in `AnonymizerEngine` and not `AnalyzerEngine`.
I will take a look at it and let you know if I am stuck anywhere.

[2021-07-27 04:45] rakan41 opened #749 "Ability to pass kwargs to "redact" method for "ImageRedactorEngine" class"
There are number of arguments available in the "analyze" method for the "AnalyzerEngine" class that would be useful have in the "redact" method for "ImageRedactorEngine". For example, the parameter "entities" in "analzye" method would be useful in "redact" method to ensure only selected entities are redacted. Similarly, the "score_threshold" parameter will also be useful in choosing the sensitivit

[2021-07-27 06:13] AkshayDube11 commented on #742
Hi @omri374, could you help me with solutions for the respective issues I mentioned above so far or any alternatives to work around it.

[2021-07-27 07:52] omri374 commented on #749
Hey @rakan41, great suggestion! Thanks. Are you interested in creating a PR?

[2021-07-27 07:55] omri374 commented on #742
Hey @AkshayDube11, for the issue with `en_core_web_sm`, it's probably because it couldn't find it. Have you installed it in the environment where Presidio runs? `spacy -m download en_core_web_sm`
If that's not the case, could you please add more details (error message etc.)

[2021-07-27 08:30] AkshayDube11 commented on #742
**The issue I mentioned in point #1** is when I downloaded "python -m spacy download xx_ent_wiki_sm" a multi-lingual spacy NLP engine for anonymizing my multi-language comments using the following configuration code, post getting configured properly the BatchAnalyzer is throwing error that "spacy -m download en_core_web_sm" English based spacy NLP engine is required to be downloaded to proceed wit

[2021-07-27 09:15] omri374 commented on #742
For point 1, Presidio requires an explicit language to be defined for each recognizer (or nlp model). The xx model cannot be used as is, since Presidio is expecting each model to define which languages it can support.

It is possible to have the same model loaded multiple times, but the language should be defined per value so if you have a data frames with multiple lines each containing text in a

[2021-07-27 10:13] omri374 commented on #742
For point (3), for now I would suggest the same approach you've taken, of running Presidio on a subset of the columns and then concatenating it to the other non-sensitive columns.

[2021-07-27 23:29] rakan41 commented on #749
@omri374 , yes no worries. Happy to have a look at this one.

[2021-07-28 06:48] rakan41 commented on #749
**SourceImage**
![image](https://user-images.githubusercontent.com/44086695/127276361-79f008b9-d3e3-45b2-bd43-bfd8542b1041.png)

**Before Change**
Running below redact method produces following:
`redacted_image = engine.redact(image, (255, 192, 203))`
![image](https://user-images.githubusercontent.com/44086695/127276427-fde7dc37-30d9-477b-9806-9e263dcdd985.png)
Notice that the person, location, an

[2021-07-28 07:10] omri374 commented on #749
Looks good!

[2021-08-05 03:00] connerxyz opened #750 "NameError: name 'StanzaLanguage' is not defined"
**Describe the bug**
A clear and concise description of what the bug is.

Trying to use Stanza NLP engine with simple example and it throws an error.

[code]

Above throws...

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

I woul

[2021-08-05 08:10] omri374 commented on #750
Hi @connerxyz, what version of `presidio-analyzer` are you using?

[2021-08-05 14:36] connerxyz commented on #750
We're running 2.2.1. What version did your bug fix end up in? Thanks.

[2021-08-05 16:43] omri374 commented on #750
It was fixed in 2.2.2 https://github.com/microsoft/presidio/releases/tag/2.2.2. Closing for now

[2021-08-05 16:43] #750 closed

[2021-08-06 10:49] omri374 commented on #748
@bhushan-borole could you please share the output of the analyzer engine? Is there a space in between the indices of the two entities?

[2021-08-08 16:07] bhushan-borole commented on #748
@omri374 I haven't set up presidio locally yet, I just used the web interface.

[2021-08-09 18:55] fatemerhmi opened #752 "rule based address recognizer"
I came across [this Demo](https://www.youtube.com/watch?v=1pUEG0MZxvM) and learned that `presidio` detect the address using data from open street map which includes: Names of places + point of interest + addresses for specific regions.

Later in the demo `presidio` put his data in a Trie data structure and use term frequency to find the address.

I looked into the [predefined recognizers](https://

[2021-08-11 08:01] damiank333 opened #753 "AnonymizerEngine not parsing anonymized text"
**Describe the bug**
Anonymizer engine does not parse anonymized text.

I've been using presidio on Python 3.8.8 over the last week and note that there have been changes in the libraries and parameters used for anonymizing text. Prior to these changes, I was able to parse text with identifying information and print anonymized text, however, now the anonymized text is not being printed.

Using the

[2021-08-11 13:52] navalev commented on #753
@damiank333, what version of presidio are you using? and is it the containrized version of the python package?

[2021-08-11 15:46] omri374 commented on #753
I think there's a missing `__repr__` for the `EngineResult` class.

[2021-08-11 18:28] omri374 commented on #753
In the meantime, this should work:
1. To get the anonymized text:
[code]

2. To get the locations of anonymized entities:
[code]

[2021-08-11 23:32] damiank333 commented on #753
Great thank you, that has resolved the issue

[2021-08-11 23:50] rakan41 opened #754 "Adding - Australian custom recognizers"
There are various Australian-specific PII entities that would benefit from PII detection. These include:

- Australian Business Number ("ABN")
- Australian Company Number ("ACN")
- Tax File Number ("TFN")
- Medicare Number

The above entities would be detected using by creating custom "PatternRecognizers". All the mentioned entities will use regex patterns, context words, and checksums. Each of th

[2021-08-12 12:26] fatemerhmi commented on #752
Hi @omri374,

Of course. I'd be happy to collaborate on this :)

[2021-08-13 18:23] AkshayDube11 commented on #742
Dear @omri374,

Please share your view on the observations I made after having batchAnonymization working on my Dataframes having comments/sentences as row entries in multiple languages. I followed the approach you suggested above by defining my model to serve to English Language and making other multi-lingual sentences in my dataframe to pass through it.

Observations:
1. I found many supporting

[2021-08-18 06:29] AkshayDube11 commented on #742
Hi @omri374 & Team,

Please share your thoughts and suggestions on the details mentioned above related to the lower accuracy and wrong detection of PII entities by the multilingual NLP model used for the BatchAnalyzer engine. Looking forward to it.

[2021-08-18 07:31] omri374 commented on #752
Syncing with @fatemerhmi offline.

[2021-08-18 12:13] omri374 commented on #742
Hi @AkshayDube11, is the code you provide in your issue for `BatchAnalyzerEngine` and `BatchAnonymizerEngine` identical to the one in our sample?

Could you give some examples of mistakes the model makes? It could be that the model itself isn't good enough, or that potentially additional PII recognizers are needed to the support it. The `BatchAnalyzerEngine` loads all the default PII recognizers.

[2021-08-19 05:47] AkshayDube11 commented on #742
Dear @omri374 ,

Yes, the code for BatchAnalyzer and BatchAnonymizer class is the same as it was in the sample given with just an addition to defining what I prefer to have as **kwargs for each of them.

I won't be able to share the data wherein the BatchAnalyzerEngine has wrongly identified PII words. To give you a reference of it identifying wrong words for identification are in multilingual sen

[2021-08-19 08:44] omri374 commented on #742
Is it possible to know the language of each record? If yes, you could set up Presidio to use different a different language model for each language. If there isn't a way, maybe a language identification model could help? My intuition is that PII detection might not be very accurate with multilingual models, but it's hard to say without proper analysis.

[2021-08-20 05:45] AkshayDube11 commented on #742
Dear @omri374,

As of now, my analysis is on dealing with text in the following mentioned languages;
Czech, Slovak, Hungarian, German, English, Swedish.
What are your thoughts on using "xx_sent_ud_sm" which is more accurate as compared to "xx_ent_wiki_sm" multilingual spacy model as mentioned on https://spacy.io/usage/models#download

If it is more accurate, if possible do share a test case to imp

[2021-08-20 22:41] palirashmi opened #756 "Unable to test Microsoft Presidio deployed as an Azure app service"
I deployed presidio to Azure as an app service using the link provided on this page:[ https://microsoft.github.io/presidio/samples/deployments/app-service/]( https://microsoft.github.io/presidio/samples/deployments/app-service/
) I am getting following error: {"error":"The requested URL was not found on the server. If you entered the URL manually please check your spelling and try again."}

Can yo

[2021-08-22 08:30] SharonHart commented on #756
@palirashmi What URL are you trying to access?
The root path should return a similar result, try to add /health for the healthprobe

[2021-08-22 19:33] omri374 commented on #742
Hi @AkshayDube11, the implementation of a new spaCy model is similar to what you already have in the code:
[code]

[2021-08-23 05:45] AkshayDube11 commented on #742
Hi @omri374, thank you for the sample code as mentioned. I will implement it and will revert back with the findings.

Also, please share your thoughts on the concern related to the accuracy of the model regarding identifying the wrong PII entities from the languages I mentioned in the above message from the trail.

[2021-08-23 09:06] omri374 commented on #742
In very high level, the process for improving the PII detection rate with Presidio is the following:
1. Come up with a dataset with labels for PII entities to be used for evaluation.
2. Decide on an evaluation metric. In [presidio-research](https://aka.ms/presidio-research) we use F2.5 or F2 which give more weight to recall over precision.
3. Run and evaluate the vanilla Presidio (with the default

[2021-08-23 15:07] #749 closed

[2021-08-25 07:36] navalev commented on #737
@RoboBuffalo we will be closing this , please re-open if this is still an issue

[2021-08-25 07:36] #737 closed

[2021-08-25 07:37] navalev commented on #366
@devesh23 we will be closing this. If there is still an issue, please re-open

[2021-08-25 07:37] #366 closed

[2021-08-26 21:04] palirashmi opened #759 "Wrapping presidio as Nuget package"
Can I wrap presidio and provide as a NuGet package which an C# application then call directly to run analyze and anonymize functionalities?

[2021-08-27 13:18] #759 closed, assigned to nobody

[2021-08-31 09:18] jbullen94 opened #760 "Documentation Build From Source Not reflective of steps."
**Describe the bug**
When following the build from source steps. During the docker build you are faced with
[code]

[2021-08-31 10:54] navalev commented on #756
Hi @palirashmi could you provide furthur information on the issue you face?

[2021-09-01 05:44] SharonHart commented on #760
Hi @jbullen94!
Can you please provide your OS and python version?
Try to install phthon certificates:
https://stackoverflow.com/questions/40684543/how-to-make-python-use-ca-certificates-from-mac-os-truststore
Alao verify that you're not behind a proxy or vpn

[2021-09-01 07:14] jbullen94 commented on #760
Looking at the analyzer only (purely for speed). I followed the steps in the above, I copied the PEM from certifi over to the build dir, made some tweaks to the docker file to copy over the crt into the ca share so the dockerfile now looks like this:

Running on Windows 10 Enterprise with Python 3.9 installed.

[code]

Complete output of build from Docker... I can see that the cert is being copied

[2021-09-01 08:49] omri374 commented on #760
Related to https://github.com/explosion/spaCy/issues/4297?

[2021-09-01 16:49] SharonHart commented on #760
@jbullen94 Taking a look at the new logs youv'e provided, I think that the failure now is when bullding presidio-image-redactor, it is downloading a spacy model as well (actually a different one, if you compare to the first trace you've provided). Try to build just analyzer with compose so we can see if the certificates helped

[2021-09-02 16:11] jbullen94 commented on #760
I've run solely the analyzer. (I modified the docker-compose file) and this was the result. It looks like the issue lays with the spacy library?

[code]

[2021-09-02 17:08] SharonHart commented on #760
@jbullen94 Thanks for the investigation! In that case I'll close the issue, but will be happy if you'll post here how was it solved, for the sake of others with the same issue.

[2021-09-02 17:08] #760 closed

[2021-09-02 17:10] omri374 commented on #760
@jbullen94 You can perhaps try to download the spacy model straight from github, instead of using 'python -m spacy download...'

[2021-09-02 17:24] jbullen94 commented on #760
Issue persists within the docker image. I found a couple of links of the Spacy github that refer to them changing libraries to reduce dependencies.

[2021-09-02 20:38] SharonHart commented on #760
I found a few options that could help:
First is to add a direct flag to the spacy download command: `python -m spacy download en_core_web_sm --direct`
Second is to use wget or curl to download it manually (maybe disable ssl verification for insecure download) and install using pip `python -m pip install en_core_web_sm-3.0.0.tar.gz`

[2021-09-02 22:14] #718 closed

[2021-09-05 09:58] #754 closed

[2021-09-06 12:34] schudoku opened #761 "Missing documentation for context words"
I don´t know how exactly the context words are used to boost the score of a pii finding.

1) Do the words need to be defined exactly or should I define lemmas of the words that I want to match? In the code I see that not the original words/tokens of a sentences are compared to the context words, but the lemmas/keywords of the original words.
2) How many words before and after a pii finding are tak

[2021-09-09 09:06] omri374 commented on #761
Hi @schudoku,
The context words detection in Presidio is a simple rule-based match of the each surrounding word's lemma and the list of keywords configured in the recognizer.
High level pseudocode:
1. Tokenize input text and extract lemmas for each token ([see code here](https://github.com/microsoft/presidio/blob/b8d76c6a7e0a66fcfabcfe1dffd46f8010af2d28/presidio-analyzer/presidio_analyzer/nlp_engi

[2021-09-09 09:13] omri374 commented on #756
Closing for now, feel free to re-open if you have additional questions / information on this.

[2021-09-09 09:13] #756 closed

[2021-09-09 09:32] omri374 commented on #748
Just did a quick check and it seems like this is an issue with how spaCy detects entities in text.
[code]
Returns:
[code]

So the newline characters are actually part of the detected entity. This might be related to [this issue](https://github.com/explosion/spaCy/issues/4792).

Either preprocessing of the text or postprocessing of the list of `RecognizerResult`s could help overcome this issue.

Te

[2021-09-09 09:32] #748 closed

[2021-09-09 13:45] schudoku commented on #761
Hi @omri374,

thank you for your detailed explanation. Its indeed a simple mechanism but also a very useful one :) As I understand the architecture there is always the possibility to create a new entitiy recognizer and do some magic with the nlp artefacts provided by the nlp engine or to even create something from scratch. The possibility to specify CONTEXT_PREFIX_COUNT and CONTEXT_SUFFIX_COUNT wi

[2021-09-09 13:45] #761 closed

[2021-09-11 13:06] bilalbobat opened #764 "Batch Processing (Pandas Dataframe) with the ability to add additional additional regex recognizers"
Hello

First off let me thank you for putting out such an excellent functionality, its great.

I am attempting to use the sample batch processing pandas dataframe example specified here:
https://microsoft.github.io/presidio/samples/python/batch_processing/

With my own additional regex recognizer(s) that I want to add to already default built ins.

I want the anonymisation to be applied to newly c

[2021-09-11 15:23] OlegBEZb opened #765 "typo in append_analysis_explenation_text"
It seems that there is a typo in the function name.

append_analysis_expl**e**nation_text - > append_analysis_expl**a**nation_text

[2021-09-11 17:08] OlegBEZb opened #766 "typo in the documentation"
Hi) Sorry for another issue.

https://microsoft.github.io/presidio/anonymizer/

In the Built-in operators passage there is a table. There is a typo in the header: Operaor name -> Opera**t**or name

[2021-09-11 18:56] omri374 commented on #765
Thanks @OlegBEZb, good catch! are you interested in creating a pull request with the change?

[2021-09-11 19:00] omri374 commented on #766
Thanks @OlegBEZb! This will be fixed in #763

[2021-09-12 06:49] omri374 commented on #764
Hi @bilalbobat, thanks for your question.

In the batch processing sample, the two classes: `BatchAnalyzerEngine` and `BatchAnonymizerEngine` inherit from the standard `AnalyzerEngine` and `AnonymizerEngine` classes. Therefore, it's possible to pass the same arguments that the base class accepts. So instead of this cell:
[code]

Add this cell:

[code]

Hope this helps!

[2021-09-12 06:49] omri374 commented on #764
Closing for now, feel free to re-open if you have additional questions/issues.

[2021-09-12 06:49] #764 closed

[2021-09-12 06:57] omri374 commented on #742
Closing for now, feel free to re-open if you have any more questions or issues.

[2021-09-12 06:57] #742 closed

[2021-09-14 09:42] #70 closed

[2021-09-23 09:09] omri374 opened #772 "Missing documentation for the phone number recognizer"
Presidio uses the [phonenumbers](https://github.com/daviddrysdale/python-phonenumbers) python package for better handling and coverage of phone numbers. [See code here](https://github.com/microsoft/presidio/blob/main/presidio-analyzer/presidio_analyzer/predefined_recognizers/phone_recognizer.py).

It currently uses five regions ("US", "UK", "DE", "FE", "IL") as default, but could be extended by th

[2021-09-25 06:57] PuspenduBanerjee opened #774 "Feature: Pluggable Encryption"
Right now we have only AES Cipher and use of any other cipher requires code modification of the product.
Instead, I propose use of pluggable Cipher, so that we can avoid code modification.
On a separate note, it is likely to help to gain attention for production grade adoption.

If you like the idea, vote for it.

[2021-09-25 13:35] SharonHart commented on #774
Since our approach is usually using external libraries for such implementations, like we used pycryptodome for AES, I'm having trouble thinking how this can be pluggable, as the installation of those libraries needs to be plugabble as well. What did you have in mind with regards to that?
For presidio as package use, we have a [custom operator](https://microsoft.github.io/presidio/samples/python/ge

[2021-09-26 03:34] PuspenduBanerjee commented on #774
Yes, you are correct about required package installation and then we need to load the cipher class dynamically. All the parameters can be passed through regular Operator config.
Something like  below:

[code]

[2021-09-26 11:49] #753 closed

[2021-09-26 12:01] #766 closed

[2021-10-04 09:54] lalitpagaria opened #780 "Relax strict dependency version requirement of regex module"
**Describe the bug**
Currently `regex` is pinned to version `2020.11.13`, due to that using `presidio-analyzer` with other dependencies causing conflict (It is related to my Project [Obsei](https://github.com/obsei/obsei))

It is possible to relax this constraint and make it condition to `regex>=2020.11.13`?

**To Reproduce**
NA

**Expected behavior**
NA

**Screenshots**
NA

**Additional context**

[2021-10-04 11:37] omri374 commented on #780
Hi @lalitpagaria, I don't see an issue with relaxing the version of `regex`. Would you like to create a PR?

[2021-10-04 11:50] lalitpagaria commented on #780
Thanks @omri374
I have created PR please review it https://github.com/microsoft/presidio/pull/781

[2021-10-04 11:54] lalitpagaria commented on #780
Also is there any place you showcase user of presidio?

If then I would like to showcase Obsei there. Obsei is using Presidio in PII anonymization workflows.
See refer this video for the demonstration: https://www.youtube.com/watch?v=GTF-Hy96gvY

[2021-10-04 12:25] omri374 commented on #780
Very cool work!
We don't have a dedicated place to showcase usage, but once we gather more publicly facing tools leveraging Presidio, we'll definitely create such place.

[2021-10-19 07:46] omri374 commented on #317
FYI, most (if not all) of the code is formatted using Black. Recommended pre-commit hooks use black to auto-format.

[2021-10-24 07:55] omri374 opened #785 "Batch analysis and anonymization doesn't contain logic for detecting potential PII columns"
In the existing [sample for batch analysis](https://github.com/microsoft/presidio/blob/main/docs/samples/python/batch_processing.ipynb), the logic goes over all the columns and looks for PII. We'd like to extend this with logic which also evaluates how likely a column contains PII based on its name.

For example, if a column name is `Age`, and the values are `[19,55,2,39]`, the column name could h

[2021-10-26 12:54] mcreichle opened #786 "False Positives"
**Describe the bug**
the PERSON attribute is triggered on exceedingly non person like strings. Did Elon Musk's Kid name mess up the algorithm?

**To Reproduce**
from presidio_analyzer import AnalyzerEngine, RecognizerResult, RecognizerRegistry, Pattern

registry = RecognizerRegistry()
registry.load_predefined_recognizers()

a = AnalyzerEngine(registry=registry)

txt = 	"1607635102.00 -0.96"

resul

[2021-10-26 16:39] gustavorps opened #787 "Feature: Support to Transformers engine"
Transformers provides the following tasks out of the box:

* Sentiment analysis: is a text positive or negative?
* Text generation (in English): provide a prompt and the model will generate what follows.
* Name entity recognition (NER): in an input sentence, label each word with the entity it represents (person, place, etc.)
* Question answering: provide the model with some context and a question,

[2021-11-13 19:07] undera commented on #786
I can evidence that specifically PERSON recognizer has a lot of false positives reported.

[2021-11-13 19:49] omri374 commented on #786
Consider using a different spacy model, like 'en_core_web_trf'

[2021-11-18 08:35] omri374 opened #800 "Issue with multi-line input"
Tried Presidio on latest Dockers.

Send the following text;
String inputText = "Mr. Cha Wee a 46year old male patient from Southampton presented with severe left loin colic pain 3 days duration.\n"
                + "Sent home on painkillers and plan for X-ray KUB and USS Abdomen ASAP. \n"
                + "He can be contacted on cha2008@gmail.com\n"
                + "or over the phone on +94773

[2021-11-18 08:49] omri374 commented on #800
@chamiw2008 what error message did you get?

[2021-11-18 16:54] chamiw2008 commented on #800
500
Output : {"error":"The server encountered an internal error and was unable to complete your request. Either the server is overloaded or there is an error in the application."}

[2021-11-21 13:57] SharonHart commented on #800
@chamiw2008 Can you please share the full request details, or code snippet? I wasn't able to reproduce the issue.
The following code snippet for using python requests works on multiline input:
[code]

[2021-11-21 15:44] chamiw2008 commented on #800
@SharonHart Thanks for taking the time to look in to the problem.

My code is in Java as I am trying to make a custom processor for the Apache NiFi to allow anonymization using Presidio.
Code is as below;

`    private String analyse(String jsonInputString, String urlString) throws MalformedURLException, IOException {

        URL url = new URL(urlString);

        HttpURLConnection con = (HttpURL

[2021-11-21 15:47] SharonHart commented on #800
@chamiw2008 I beleive that although the response is 500, this is a client issue on how the request is made (I believe that there's a bug propagating 400s as 500s). An evidance is the client code I've provided that sends a similar input to yours. Nevertheless, I'll try to take a look at the snippet you've provided.

[2021-11-25 07:27] shiranr opened #805 "New feature - support passwords recognition"
Add password recognition for Analyzer.

[2021-11-25 20:25] SharonHart commented on #800
@chamiw2008 Seems like jsonInputString is missing, can you please provide it as well?

[2021-12-05 10:42] SharonHart commented on #800
Closing as not reproducible, feel free to supply further information

[2021-12-05 10:42] #800 closed

[2022-01-05 06:22] Subrat08 opened #813 "Unable to use stanza as NlpEngineProvider"
**Describe the bug**
I am trying to use stanza instead of spacy as NlpEngineProvider. While doing so I am getting error as Wrong NLP engine configuration

**To Reproduce**
Steps to reproduce the behavior:
`from presidio_analyzer.nlp_engine import NlpEngineProvider
configuration = {
    "nlp_engine_name": "stanza",
    "models": [{"lang_code": "en", "model_name": "OntoNotes"}],
}`

`provider = NlpE

[2022-01-05 08:25] omri374 commented on #813
Hi @Subrat08,
There are some prerequisites for using Stanza within Presidio. Make sure you install both `stanza` and `spacy_stanza` packages, and download the relevant model (e.g. `stanza.downoad("en")`).

The `model_name` in Stanza is identical to the language (see [Stanza's available models here](https://stanfordnlp.github.io/stanza/available_models.html#available-ner-models) and a description o

[2022-01-05 09:17] Subrat08 commented on #813
Thanks for the quick reply. I have tried that but unfortunately I am getting same error.

[2022-01-05 10:12] omri374 commented on #813
Have you run `pip install stanza spacy_stanza`?